<div class="bottom-second-footer navbar-fixed-bottom">
  <div class="left-footer-box hidden-xs">
  </div>
  <div class="right-footer-box hidden-xs">
    <%= render 'shared/logo' %>
  </div>

  <div class="nav navbar-fixed-bottom">
    <footer id="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8 col-sm-4 text-center ">
            <%= render 'shared/copyright' %>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
