<div id="main-footer" class="row fixed-bottom">
  <div class="col-10 offset-2 d-none d-sm-flex justify-content-end text-right h-25 py-5 pe-5">
    <div class="d-flex flex-column align-items-end">
      <%= render 'shared/logo' %>
      <%= render 'shared/social' %>
    </div>
  </div>
</div>
