<% _front_page = front_page? %>

<div>
  <% unless _front_page %>
    <div class="d-none d-md-block mt-4 mb-2"><%= render 'shared/logo' %></div>
  <% end %>

  <ul class="navigation mt-4 mt-md-0">
    <%= render 'shared/navigation' %>
  </ul>
</div>

<% unless _front_page %>
  <footer class="d-none d-lg-block">
    <%= render 'shared/social' %>
    <%= render 'shared/copyright' %>
  </footer>
<% end %>
