<div class="social">
  <a href="https://www.facebook.com/pages/Anne-Arden-McDonald/116579048353973?ref=search&sid=751108024.2233621175..1">
    <%= image_tag('social/facebook.png', alt: 'Facebook', class: 'image-fluid', width: 24, height: 24) %>
  </a>
  <a href="https://www.instagram.com/anneardenmcdonald/">
    <%= image_tag('social/instagram.png', alt: 'Instagram', class: 'image-fluid', width: 24, height: 24) %>
  </a>
</div>
