<div class="social">
  <a href="https://www.facebook.com/Anne-Arden-McDonald-116579048353973/">
    <%= fa_icon('facebook-square', title: 'Facebook') %>
  </a>
  <a href="https://www.instagram.com/anneardenmcdonald/">
    <%= fa_icon('instagram', title: 'Instagram') %>
  </a>
</div>
