<div class="social">
  <a href="https://www.facebook.com/Anne-Arden-McDonald-116579048353973/">
    <%= image_tag('facebook.svg', title: 'Facebook') %>
  </a>
  <a href="https://www.instagram.com/anneardenmcdonald/">
    <%= image_tag('instagram.svg', title: 'Instagram') %>
  </a>
</div>
