<div class="container statement-text">
	<p>
		<strong>Atom, Planet</strong>
	</p>
	<p>
		For years I have been experimenting with different ways of generating an image on photographic paper.  I recently began thinking about the dialogue that painters and sculptors have with their mediums and realized that I wanted come up with ways that my process could inform the resulting image.  While still working with photo paper, light and chemistry, I used some well-known processes like the photogram and invented other ways of producing images without using a negative.  Some of these methods included painting bleach onto blackened photo paper, or building layered piles of glass and eggshells and moving around them with a flashlight to make an exposure.  I also tested eighty medicines, spices and household cleaners by painting them onto photo paper before running the image through the developer and fix.  I used glue as a resist and dug down to the photo paper surface with alternating developers and fix to create an image on the paper.  Some of the images were made in the dark and some in daylight, some processes were additive and others reductive.  I have been developing these processes and using them to make a series of giant (50 x 111 inch or 125 x 280om) images of circles and spheres, meant to represent planets and atoms, to visualize the macrocosm and the microcosm of life as we know it.  I am hoping next to explore biology, and I am looking into testing bioluminescent organisms to expose the photo paper and creating bacterial, fungal and mold-based ecosystems to eat the sugar that is present in the gelatin of silver gelatin paper.
	</p> 
	 
	<p>
		I think these giant camera-less photographs I have been making ask some interesting questions about what photography is, and what it can be. I believe that at 170 years old, photography is a very young medium. We still have so much unexplored terrain. Unfortunately, we also stand at a precipice, as digital photography is eroding the availability of some of the analogue materials that photographers have employed.
	</p> 
</div>

<div class="arrow-row row">
			<div class="col-xs-3 col-md-3 col-lg-3">
						<a href= '/ap10'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
						:class => "img-responsive ap-nav-clock-hand")%></a></a><br />
			</div>
			<div class= "col-xs-5 col-md-5 col-lg-5">
					&nbsp;
			</div>
			<div class="col-xs-3 col-md-3 col-lg-3">
							<a href= '/bodies1'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
						:class => "img-responsive ap-nav-clock-hand")%>
						</a><br />
			</div>

</div>

