<div class="container statement-text">
<p>
	<strong>The Body In Transformation</strong>
</p>
<p>
	This installation investigates the body and its relationship to the person who lives in it: the body as a location of evolution and change; of growth, learning and metamorphosis, but also of aging and disease.  This installation interprets conceptions of the body, through images that take the form of a room full of life-sized silhouettes. The prints are 50 inches wide, 8-10 foot tall silver gelatin photographs. They are created without negatives by unique processes, mostly by making photograms and/or by painting with chemistry and bleach on photographic paper. The images have been exhibited as individual photographs and as a site-specific installation. As an installation, the room is lit by a life-size sculpture of a body undergoing a metamorphosis, wrapped in a chrysalis. The body is illuminated from the inside with Christmas lights and is made of chair stuffing and tattered fabric.
</p> 
 
<p>
	I think these giant camera-less photographs I have been making ask some interesting questions about what photography is, and what it can be. I believe that at 170 years old, photography is a very young medium. We still have so much unexplored terrain. Unfortunately, we also stand at a precipice, as digital photography is eroding the availability of some of the analogue materials that photographers have employed.
</p> 
	<div id="back-watch"><a href="/newWork"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
	</div>
</div>
