<div class="container" id= "statement-text">
	<p>
		<strong>Botanical Book</strong>
	</p>
	<p>
		I found an old American Express ledger book from 1904 in a flea market, and I began preserving botanical objects between the pages in the late 90s. In recent years I have been printing through the pages onto photo paper, using the pages as a giant paper negative. A few of the images are included here, they are printed on 11 x 14 inch paper.
	</p> 
	 




	<div id="back-watch"><a href="/botanicalBook"><%= image_tag("watch_2_left.jpg", alt: "back", 
				:class => "img-responsive")%></a><br />
	</div>
</div>
