<div class="container" id= "statement-text">
<p>
	<strong>Botanicals</strong>
</p>
<p>
	To make these images, I place small translucent objects on the negative plane of the enlarger, and contact print other objects actual size on the easel plane. The result is multi-layered rayograms, which are printed onto positive sheet film, and shown as light boxes in a dark room. I use the natural light falloff from the enlarger to enhance the effect of looking into a microscope or a petri dish at a tiny secret world. In creating this series I felt like a scientist: evaporating liquids and building sculptures out of glue to print through.
</p> 
 
<p>All prints are on 20 x 24 inch sheet film, exhibited as light boxes.</p> 



	<div id="back-watch"><a href="/botanicals"><%= image_tag("watch_2_left.jpg", alt: "back", 
				:class => "img-responsive")%></a><br />
	</div>
</div>
