<div class="container-fluild" id= "statement-text">
<p>
	<strong>Buoyancy</strong>
</p>
<p>
	The series “Buoyancy” is about lightness and optimism, about the energy that comes to us from out of nowhere. It is about objects rising and floating, about the planets mysteriously suspended in silence. In this show, I wanted to make representations of the microcosm and the macrocosm of life as we know it—the planet and the cell—and relate them to bubbles and a feeling of expansive joy and hope.
</p> 
 
<p>“The photograph is the terrain”—Barbara Shinn</p> 

<p>
	The pieces in this installation have been created without negatives (with the exception of the X-rays). The photo paper was painted with layers of developer, then was fixed and bleached to construct images: a process both additive and reductive. This way of working is spontaneous, gestural and surprising—things happen that I cannot explain. Photo paper has an incredible range of memory, so anything I do, I have to live with or attempt to bleach out. 
</p>

<p>The 4 long thin pieces are 8 feet tall, and the globe is 10 x 16 feet</p>

<div id="back-watch"><a href="/bouyancy"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
</div>
</div>
