<div class="container" id= "statement-text">
<p>
	<strong>Circles</strong>
</p>
<p>
These are done by swirling the tongs in the developer over a piece of photo paper that has been exposed to light (but no negative). The results resemble charcoal drawings: the stringy ones look like cells dividing, like meiosis-mitosis, or at times they evoke bubbles, rolling and rising and falling.
</p> 
 
<p>
All prints are on 16 x 20 inch silver gelatin paper.
</p> 



	<div id="back-watch"><a href="/circles"><%= image_tag("watch_2_left.jpg", alt: "back", 
				:class => "img-responsive")%></a><br />
	</div>
</div>
