<div class="container-fluild" id= "statement-text">
	<p>
		<strong>Installation of Little Dresses</strong>
	</p>
	<p>
		The first time I ever thought of making an installation, I was motivated by the desire to achieve a quality of light that embodied feeling of nostalgia. In 1994, in the middle of winter, at a studio given to me by the Sharpe Foundation in New York, I took antique children's dresses and printed images of myself on them with liquid emulsion, then dipped them in wax and lit them from the inside with a few tiny Christmas lights. The installation consisted of a dark room with little glowing dresses hanging on tiny hangers, with long waxy drips hanging down. The piece was more about the internal mood and the quality of warm dim light in the room than it was about any one individual dress or image: it evoked memory as a soft yet perpetual radiance.
	</p> 
 


	<div id="back-watch"><a href="/dresses"><%= image_tag("watch_2_left.jpg", alt: "back", 
				:class => "img-responsive")%></a><br />
	</div>
</div>
