<div class="container-fluild" id= "statement-text">
<p>
	<strong>Group Work, 1997</strong><br />
</p>
<p>When I stopped taking self portraits, I started making pictures of pairs of people and groups of people: exploring issues that couples face and what we are like as a society, questions of whether we hold each other up or let each other fall. This was a new challenge because making the self portraits had been an internal process and the group portraits were more directorial. These are platinum prints made from digitally enlarged negatives, with a tremendous amount of help from Mark Katzman in St. Louis. A few are silver gelatin prints, and all are 16 x 20 inches.
</p> 

	<div id="back-watch"><a href="/group"><%= image_tag("watch_2_left.jpg", alt: "back", 
				:class => "img-responsive")%></a><br />
	</div>
</div>
