<div class="container-fluild" id= "statement-text">
<p>
	<strong>Hands 1997</strong>
</p>
<p>
	This series is alchemical, the result of a process I can’t explain.  I took very old photo paper and poured developer over it in a tray in the dark, then poured the developer off, and stood the tray in a corner in the darkroom so it was fogging under a safelight while I did other work. I poured the developer over the paper a few more times over several hours, then at some point I placed my hand on the paper. Either the heat activated the developer, or the hand oils functioned as a resist, somehow a handprint would materialize. I think these images are reminiscent of aural photography, or the hands that American Indians left on walls in the desert. The paper was never exposed to any light other than a safelight. 
</p> 
 
<p>
	All images are on 11 x 14 inch silver gelatin paper.
</p> 



	<div id="back-watch"><a href="/hands"><%= image_tag("watch_2_left.jpg", alt: "back", 
				:class => "img-responsive")%></a><br />
	</div>
</div>
