<div class="container">
<h1>Icon Diana</h1>
<p>This series is about vagueness and half-remembered subconscious images.  Each of these pieces is part of a visual poem which, when seen as a whole, creates a sensation of falling or floating.  These images look like the ones I see when waking from a dream, they arrive half-remembered through a sleepy mist, and take on symbolic importance as my waking reality tries to uncover their meaning or weave them into a coherent narrative. With this series I am trying to build on mood that eludes the specifics of narrative.</p>
  All images are silver gelatin prints, 16 x 16 inches.
<h1>Note on the Diana camera--</h1>
<p>I am using a plastic Diana camera, a children’s camera from the 1950s, to get this hazy, off-balance look.  This device has a special optic which causes the images to be slightly fuzzy and vignetted; the effect is perfect for producing moody photos that look like they are coming out of the subconscious or up from under water. Because the lens is uncoated for color correction, the whites are milky and the darks resemble a charcoal drawing. I am often shooting on the bulb setting, which makes the image even more nebulous due to the camera shaking slightly. I enjoy the uncertainty of these images; I appreciate the room for interpretation afforded by the indefinite.</p>
</div>