<div class="container-fluild" id= "statement-text">
<p>
	<strong>Layered, Buoyed, Tethered, Barely</strong><br />
	Governor’s Island, Summer 2008
</p>
<p>This installation was formed around ideas of gravity and weightlessness, delicacy and heaviness, and mark-making and drawing. I made a series of cyanotypes (Victorian blueprints) by contact printing baby and doll dresses. I made additional dresses out of feathers, paper, eggshells, cotton, seeds, leaves, hair, twigs, etc; contacted printed them, and made a ceiling out of both types of images. There was also a 6--foot--tall dress hanging in the room with a giant hoopskirt so that children (and adults) could go up under it and see the light passing through the layers of tattered antique fabric and lace. I then covered the floor with papers and pencils so people could draw, and had one area by a window where 15 plumb bobs were hung at different heights. The ones that touched the paper scrawled marks as if the breeze from the open window was drawing. My intent was to make an installation that felt summery and airy and nautical, a mood created by the theme and the colors, to harmonize with the island setting. 
</p> 

	<div id="back-watch"><a href="/layered"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
	</div>
</div>
