<div class="container statement-text">
<p>
	<strong>From Earth To Sky, Milan</strong>
</p>
<p>This installation contains a photo paper ceiling, which I blackened and painted with bleach to created an image of the universe--complete with planets, stars and nebulae. From that paper sky I suspended about 500 threads with needles on the ends. Two large clouds, lit from the inside, hovered in the middle of the room and the needles dangled just above the clouds, and outlined them. The floor was dusted with olive pollen, and under the clouds I placed 300 orange, grapefruit and apple seeds, cast in bronze and polished. For me it was as if the pain of the needles passing through the enlightenment of the clouds had produced the golden seeds on the floor. <br />
	<br />

The room was about 10x14 feet.
</p> 


<p><strong>Note on Installations</strong></p>
<p>
For 15 years, from the age of 15 to 30, I would go to a space, often an abandoned building, build an installation there, and do a self portrait performance for my camera. The end result was a photograph, but over time I realized was that I was giving people a window into what I saw and felt and experienced. From there I progressed to building site-specific installations so as to give people the direct experience of the mood and environment I had formerly created on film. These installations are staged in a small room with a particular quality of light; usually the whole space is treated so the experience becomes immersive. There are often organic forms and some photographic materials: sometimes there is a smell (as from the olive pollen); and often there are elements you can engage with, deliberately or by accident. These environments are hard to document accurately: you can get a sense of what it looked like but not what it felt like to be there.
</p>

<div id="back-watch"><a href="/milan"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
<div>
</div>
