<div class="container" id= "statement-text">
	<p>
		<strong>Murals</strong>
	</p>
	<p>
		The first mural consists of multiple images of me jumping, made by enlarging and reducing an actual photo, and then collaging the xeroxes.
	</p> 
	<p>
		The second one was made from a negative self portrait and a positive image of flames, dropped into slide projectors and printed on mural paper (the final image is about 6 by 8 feet). I look like a monster because I had put phosphorescent paint on my face and upper body, charged myself up under the lights, and shut the lights off.  I am the light source for the image and the eyes and mouth are black where there was no paint.
	</p> 
	<p>
		To make the exploding man image, I shot a negative of a piece of graffiti, and many slides of flames, dropped them each into slide projectors and printed a collaged image onto mural paper. The final image is about 8 by 15 feet.
	</p>



	<div id="back-watch"><a href="/murals"><%= image_tag("watch_2_left.jpg", alt: "back", 
				:class => "img-responsive")%></a><br />
	</div>
</div>
