<div class="container statement-text">
<p>
	<strong>Pillow Book, 1999-2000</strong>
</p>
<p>This series is a collaboration with Radek Grosman; it grew out of a series he had begun about bodies in distress. We worked in abandoned spaces to give the image the tension between identifying with the body’s sensuality and vulnerability while recoiling from the rawness and subtle menace of its surroundings. This series was shot close to the figure, as Radek had begun it, and shot with the Diana camera, which gives the images a somewhat spiritual atmosphere.<br />
	<br />

All images are silver gelatin prints, 8 x 8 inches.
</p> 


<p><strong>Note on the Diana camera--</strong></p>
<p>I am using a plastic Diana camera, a children’s camera from the 1950s, to get this hazy, off-balance look.  This device has a special optic which causes the images to be slightly fuzzy and vignetted; the effect is perfect for producing moody photos that look like they are coming out of the subconscious or up from under water. Because the lens is uncoated for color correction, the whites are milky and the darks resemble a charcoal drawing. I am often shooting on the bulb setting, which makes the image even more nebulous due to the camera shaking slightly. I enjoy the uncertainty of these images; I appreciate the room for interpretation afforded by the indefinite.</p>

<div id="back-watch"><a href="/pillowBook"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
<div>
</div>
