<div class="container-fluild" id= "statement-text">
<p>
	<strong>Self Portraits	</strong><br />
</p>
<p>
	I build installations in the landscape or in abandoned interiors and make private performances for my camera in these spaces. The performances explore my relationship to the world around me and are part ritual, part dance and part daydream. I have many fantasies that I cannot actualize in everyday life--flying is the most insistent of them--and I feel frustrated by the limitations of an earthbound body.  This is a dilemma we all share: being both flesh and spirit, living in a body with a mind that dreams. My images serve as visual metaphors for struggles we face each day: tensions and balances, the necessity of keeping hope alive despite the obstacles, and the challenge of acknowledging our vulnerability without being crushed.
</p> 

<p>
	All images are silver gelatin prints, 16 x 20 or 8 x 11 inches.
</p>
	<div id="back-watch"><a href="/selfPortrait"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
	</div>
</div>
