<div class="container statement-text">
<p>
	<strong>Watches </strong>
</p>
<p>
	This is a series I did of tiny sculptures and scenes built inside antique pocket watch cases.  Some of them have moving parts, giving them a dynamism that cannot be conveyed by a still image.  Many of them address the issue of time, but not linear time so much as cycles and seasons, memory and loss, birth and death; also musical time, measured time, arrested or frozen time, and the evidence of time passing.  I enjoy working with actual objects that have textures, colors and history, then watching how they interact with each other.  Viewing these sculptures is like looking through the glass into a miniature world where objects are playing out a private history.
</p>

<p>
Watches are 2.5 inches in diameter.
</p> 




<div id="back-watch"><a href="/watches"><%= image_tag("watch_2_left.jpg", alt: "back", 
			:class => "img-responsive")%></a><br />
<div>
</div>
