



<div class="container-fluid" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("icon_diana_1.jpg", alt: "resume", :class => "img-responsive"), resume_path %><br />
			Resume
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row" >
			<%= link_to image_tag("icon_diana_1.jpg", alt: "bio", :class => "img-responsive about-image" ), biography_path %><br />
			Bio
		
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("icon_diana_1.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %><br />
			Criticism
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("icon_diana_1.jpg", alt: "Czech Work", :class => "img-responsive"), "http://www.czechslovakphotos.com/" %><br />
			Czech Work
		</div>
	

	
	

	</div>

</div>
