<div class="container pages-page">

	<div class="row">
	
		<div class="col-xs-7" id="pages-text">
			<p><strong>Bio</strong></p>
			&nbsp;


			<p>Anne Arden McDonald is an artist who works in a wide range of media. Represented on this site are several photo projects (created with and without cameras), sculpture, drawing, and installation work. The self portraits, for which she is best known, are photographs that reflect her interest in installation and performance. 
			</p>

			<p>Most of the work on these sites is available for purchase; please feel free to inquire about the price.
			</p>
		</div>

		<div class="col-xs-4" id="pages-box">
			<div id="pages-image"><%= link_to image_tag("bio.jpg", alt: "bio", :class => "img-responsive") %>
			</div>
			<div id="pages-box-text"><em>Photo by Joel Simpson</em></div>
		</div>
	</div>

</div>


