<div class="container pages-page hidden-xs">

	<div class="row">
	
		<div class="col-xs-7" id="crit-pages-text">
			<p><strong>Bio</strong></p>
			&nbsp;


			<p><strong>Anne Arden McDonald</strong> is a Brooklyn, NY based visual artist. Represented on this site are several photo projects (created with and without cameras), sculpture, printmaking, and installation work. From age 15 to 30 she made photographic self portraits by building installations in the landscape or in abandoned interiors and performing privately for her camera in these spaces. These images reflect her interest in installation and performance, and she published a book of this work in 2004. More recently she has been making process-inspired images and site-specific installations which include photography and sculpture. Her work has been exhibited in contexts that range from self portrait, staged, ritual, plastic camera, antique process and experimental photography; to sculptural installations as large as a room and as small as a pocket watch.
			</p>
			<br />
			<p>
				McDonald’s work has been exhibited widely: she has had 44 solo exhibitions in 10 countries (about 200 total shows in 14 countries) and has appeared in many publications, over 215 places in 20 countries, including in Aperture, European Photography, and Eyemazing Magazines. Her work is in the collections of 6 major museums, including The Houston MFA, The Denver Art Museum, The Detroit Institute of Art and the Bibliothque Nationale in Paris. She was a Lapine Fellow at the Millay Colony and was given a grant of studio space from the Sharpe Foundation. She has also taught for 6 years at Parsons School of Design in New York, and has lectured about topics such as staged photography, self portraiture, Czech and Slovak photography, alternative photography, women and photography, and her own work.
			</p>
			<br />
			<p>Most of the work on these sites is available for purchase; please feel free to inquire about the price.
			</p>
		</div>

		<div class="col-xs-4" id="pages-box">
			<div id="pages-image"><%= link_to image_tag("bio.jpg", alt: "bio", :class => "img-responsive") %>
			</div>
			<div id="pages-box-text"><em>Photo by Joel Simpson</em></div>
		</div>
	</div>

</div>

<div class="container pages-page resume visible-xs">

	<div class="row">
		<div class="col-lg-12">
			<p><strong>Bio</strong></p>
			&nbsp;


			<p><strong>Anne Arden McDonald</strong> is a Brooklyn, NY based visual artist. Represented on this site are several photo projects (created with and without cameras), sculpture, printmaking, and installation work. From age 15 to 30 she made photographic self portraits by building installations in the landscape or in abandoned interiors and performing privately for her camera in these spaces. These images reflect her interest in installation and performance, and she published a book of this work in 2004. More recently she has been making process-inspired images and site-specific installations which include photography and sculpture. Her work has been exhibited in contexts that range from self portrait, staged, ritual, plastic camera, antique process and experimental photography; to sculptural installations as large as a room and as small as a pocket watch.
			</p>

			<p>
				McDonald’s work has been exhibited widely: she has had 44 solo exhibitions in 10 countries (about 200 total shows in 14 countries) and has appeared in many publications, over 215 places in 20 countries, including in Aperture, European Photography, and Eyemazing Magazines. Her work is in the collections of 6 major museums, including The Houston MFA, The Denver At Museum, The Detroit Institute of Art and the Bibliothque Nationale in Paris. She was a Lapine Fellow at the Millay Colony and was given a grant of studio space from the Sharpe Foundation. She has also taught for 6 years at Parsons School of Design in New York, and has lectured about topics such as staged photography, self portraiture, Czech and Slovak photography, alternative photography, women and photography, and her own work.
			</p>

			<p>Most of the work on these sites is available for purchase; please feel free to inquire about the price.
			</p>
		</div>


</div>



