<div class="container-fluid" id="video-container">
  <div class="row" id="about-page-row">
    <embed src="http://pyromedia.s3.amazonaws.com/Body_of_Fragility-480x270.mov" height="285" width="480" />
  </div>
</div>
