<div class="container-fluid" id="media-container">
  <div class="row" id="about-page-row">
    <video controls autoplay style="display: block; margin: 0 auto;">
      <source src="/media/Body_of_Fragility-480x270.mp4" type="video/mp4" />
  </div>
</div>
