<div class="row">
  <div class="col-12 col-md-8">
    <p>
      For exhibition information, print purchases, and speaking or teaching engagements, please use the form below or contact me directly at <a href="mailto:Anne@AnneArdenMcDonald.com">Anne@AnneArdenMcDonald.com</a>.
    </p>

    <form method="POST" action="https://formspree.io/anne@anneardenmcdonald.com">
      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_next" value="<%= contact_success_url %>" />

      <div class="mb-3">
        <label for="email" class="form-label">Your Email address</label>
        <input required type="email" name="email" class="form-control" id="email">
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea required name="body" class="form-control" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>

  <div class="col-12 col-md-4">
    <%= image_tag('me and tree sm copy.jpg') %>
  </div>
</div>
