<div class="container pages-page">

	<div class="row">
	
		<div class="col-lg-7" id="pages-text">
	<p><strong>Selected Published Criticism</strong></p>
	&nbsp;


	<p>“Anne Arden McDonald is one of the best known “unknown” photographers around...her images work because of the way they play the edge between realism and fantasy without seeming contrived--but are rather the natural expression of her sensibility. While her figure, nude or draped, is always present, it is so actively integrated into the setting--usually eerie landscapes or romantically dilapidated interiors--that the two become one. These are subtly surreal, dreamlike images of solitude and escape with an atmosphere so timeless it is almost as if the past, present and future are happening simultaneously.” 
</p>
<p>--Carol Diehl, Review Magazine, 1999
</p>

<p>&nbsp;
</p>

<p>“The thought process of this young photographer, who seems to use her unique ego as a base, has given birth to work of rare poetry which connects to that of the film maker Tarkovski.” 
</p>
<p>--Bernadette Richard, Le Democrat, 1993
</p>

<p>&nbsp;
</p>

<p>“For Anne Arden McDonald, dreams and reality merge, rather than splitting apart. To escape the unbearable feeling of powerlessness to which her human limitations confine her, she exceeds them. She imagines herself free to float and breathe in the water and to fly in the air. This is a subjective vision of a world, a stunningly solitary universe--what parades before our eyes is deployed in a mythic space: a sort of non-place, a world that lends itself to all the imaginary reconstructions in which a woman who is both bird and fish evolves according to her own desires. The expressive use of light seeks to capture the unique mystery in which dreams so deliciously envelop themselves. For all their extreme precision, these black-and-white photographs are imbued with a disturbing lyricism that seeks to evoke the ecstasy that is both distressing and dramatic. What is seen here as the impulse behind an intimate gesture moves spontaneously from the depths to the surface, from the unconscious to the conscious. The ascent toward the ultimate and the anguish underlying such an attempt are unbearable.
</p>
<p>--Celine Mayrand, CV Photo Magazine, 1997
</p>

<p>&nbsp;
</p>

<p>“McDonald orchestrates primitive, largely incomprehensible social rituals and sets them in ruined farmhouses or grassy meadows. Though these allegorical fictions--including several varieties of romantic entanglement and a number of strange ceremonies--verge on the melodramatic arch, the best of McDonald’s work has a dreamlike quality that suggests both dimly remembered ancient rites and elaborately staged mind games.”
</p>
<p>--Vince Aletti, Village Voice, 1998
</p>

<p>&nbsp;
</p>

<p>“In Installations and Self Portraits, she enacts mysterious rituals in which she poses in dreamlike settings…her pursuits seem futile, and yet they evoke a psychological or magical quest…the work is refreshingly personal in an age of anonymous minimalist photography. Anne Arden McDonald has a unique, imaginative photographic voice that calls to us from the pages of this book.”
</p>
<p>--Jayme Guokas, The Photograph Collector Newsletter, 2004
</p>

<p>&nbsp;
</p>

<p>“Hauntingly romantic yet neither sweet nor saccharine, McDonald’s photos…retreat into the personal and mystic. It’s hard to tell if McDonald’s lone subject experiences ecstasy, torture, or an out-of-body experience, and it is this ambiguity that makes her work so deeply provocative. She mediates experiences that cross the tenuous boundaries between innocence and dread, birth and death. These pictures cannot be digested in one quick glance that appropriates a fixed signifier, nor is their surface immediately forthcoming with answers. The prints draw you into the picture plane and ultimately lead to the most dangerous place that there is--the confines of your own imagination.”
</p>
<p>--Ellen Pearlman, The Brooklyn Rail, 2004
</p>

<p>“In her most recent works taken using a Diana camera…she limits herself to photographing fragments of objects, faces and landscapes. And yet, thanks to velvety prints with depth, she succeeds once again in transforming her images into something mysterious and secret. It is as if these fragments had become a sort of collection of memories and recollections emerging from the distant past. It is as if the photographed objects had maintained their presence as things, while at the same time opening up to another life pervaded by dreams, drenched in silence and suspended in some mysterious time.”
</p>
<p>--Gigliola Foschi, Italian Zoom Magazine, 2005
</p>

<p>&nbsp;
</p>

<p>““Early in their history, photographers invested themselves with the ability to record and posses more than what the world around us showed to them.  They became interpreters and guides through a parallel universe that only they, through their unique medium, could travel to and document in the form of photographic records.  We, the spectators, cast aside our doubts and fears of the unknown and believed in the images because the innate realism of photography persevered through even the most bewildering and surreal flights of fancy.  We looked to photography to provide us not with evidence of what we knew, but of what we were missing,  what we had dreamed of but had forgotten, what we thought we saw out of the corners of our eyes.
&nbsp;
Anne Arden McDonald constructs and photographs the unknown.  For the briefest instant, the subject of the photograph lived and breathed and experienced its most critical moment, to be recorded by McDonald’s camera.  If all photography involves some form of manipulation, McDonald manipulates the world outside, rather than the film. In doing so, she creates an alternate reality for the spectator, asking us to alter our view, and to enter into the intimate life of the image, finding it and calling it by name.  We become witnesses to the alternate reality, standing before her photographs and testifying to their truth.  We are the scientists, fact-finders, anthropologists, and weavers of legends, investigating the image and reconstructing the process, searching for the evidence that will tell us how the figure arrived in this location and what will happen next.
&nbsp;
Anne Arden McDonald’s exploration of the unknown allows her images to be classified in many ways: as surreal, as fantasy, as self-portraiture; but her work is perhaps closest in spirit to that of the Victorian travel photographers who tagged along on geological survey expeditions, and at the risk of their lives and their equipment, photographed the world out there, bringing home to the eyes of a stationary and less adventuresome population images of beauty and grandeur, of the bizarre, the unbelievable, and the magnificent.“
</p>
<p>--Wanda Strukus, European Photography Magazine, 1992
</p>

</div>

<div class="col-lg-4" id="pages-box">
		<div id="pages-image">
			<div class="up"><%= link_to image_tag("watch_3_up.jpg", alt: "scroll up") %>
			</div>
			<div class="down"><%= link_to image_tag("watch_2_down.jpg", alt: "scroll down") %>
			</div>
		</div>
		description-date
</div>
	
	

	</div>

</div>



