<div id="resume" class="container-constrained resume">
  <div class="row">
    <div class="col-xs-12">
      <section>
        <h5>Selected Solo Exhibitions</h5>
        <dl>
          <dt>2018</dt>
          <dd>
            <ul>
              <li><em>Atom, Planet</em>, Candela Gallery, Richmond, Va.</li>
              <li><em>Ebb and Flow</em>, Carrie Haddad Gallery, Hudson, NY.</li>
            </ul>
          </dd>
          <dt>2017</dt>
          <dd>
            <ul>
              <li><em>Rise, Fall, Float</em>, Soho Photo Gallery, New York, NY.</li>
            </ul>
          </dd>
          <dt>2012</dt>
          <dd>
            <ul>
              <li><em>Rituals and Enactments</em>, Iris Bookcafe, Cincinnati Month of Photo, Cinn, Oh.</li>
            </ul>
          </dd>
          <dt>2011</dt>
          <dd>
            <ul>
              <li><em>Atom, Planet</em>, Skink Ink Editions, Brooklyn, NY.</li>
              <li><em>Weighing the Clouds</em>, University of Louisville, Ky.</li>
            </ul>
          </dd>
          <dt>2010</dt>
          <dd>
            <ul>
              <li>Win Initiatives, New York, NY.</li>
            </ul>
          </dd>
          <dt>2009</dt>
          <dd>
            <ul>
              <li>Liloveve Gallery, Brooklyn, NY.</li>
            </ul>
          </dd>
          <dt>2006</dt>
          <dd>
            <ul>
              <li><em>The Body in Transformation</em>, Month of Photography, Slovakia.</li>
              <li><em>Flying and Floating</em>, Hartsfield International Airport, Atlanta, Ga.</li>
            </ul>
          </dd>
          <dt>2005</dt>
          <dd>
            <ul>
              <li><em>Buoyancy</em>, Cave Space, Brooklyn, NY.</li>
              <li><em>From Earth to Sky</em>, O’Artoteca, Milan, Italy.</li>
            </ul>
          </dd>
          <dt>2003</dt>
          <dd>
            <ul>
              <li>UC Berkeley Extension Gallery, San Francisco, Ca.</li>
              <li>Brooklyn Botanic Garden, Brooklyn, NY.</li>
              <li>Contemporary Arts Center, Abilene, Tx.</li>
            </ul>
          </dd>
          <dt>2000</dt>
          <dd>
            <ul>
              <li><em>La Metamorphosis de Icaro</em>, Santiago, Chile.</li>
            </ul>
          </dd>
        </dl>
      </section>
      <section>
        <h5>Selected Group Exhibitions</h5>
        <dl>
          <dt>2019</dt>
          <dd>
            <ul>
              <li><em>Wild Things: Disrupting the Photographic Archive</em>, CEPA, Buffalo NY. Curated by Robert Hirsch.</li>
              <li><em>Lensless in Louisville for the PhotoBiennial</em>, University of Louisville, Louisville Ky.</li>
            </ul>
          </dd>
          <dt>2018</dt>
          <dd>
            <ul>
              <li><em>Light & Metal</em>, Photo Eye Gallery, Santa Fe, NM.</li>
            </ul>
          </dd>
          <dt>2017</dt>
          <dd>
            <ul>
              <li><em>Nucleus-Imagining Science</em>, Noorderlicht Photofestival, The Netherlands.</li>
              <li><em>Between the Medium: Seeing Photographically</em>, Redline Art Center, Denver, Co.</li>
            </ul>
          </dd>
          <dt>2016</dt>
          <dd>
            <ul>
              <li><em>Constructing Photography</em> at Emporia State Univ, Emporia, Ks.</li>
              <li><em>Chemistry: Explorations in Abstract Photography</em>, Garrison Art Center, Garrison, NY.</li>
            </ul>
          </dd>
          <dt>2015</dt>
          <dd>
            <ul>
              <li><em>Unconscious Metaphors</em>, Walker Fine Art, Denver, Co.</li>
              <li><em>The Origins of Photography; Past and Present</em>, Pattern Shop Studio, Denver, Co.</li>
            </ul>
          </dd>
          <dt>2014</dt>
          <dd>
            <ul>
              <li><em>Material, Strata, Synthesis</em> at KMOCA, Kingston, NY.</li>
              <li><em>Chemistry</em> at Matteawan Gallery in Beacon, NY.</li>
              <li>La Fototeca, Guatemala City, Guatemala</li>
            </ul>
          </dd>
          <dt>2013-14</dt>
          <dd>
            <ul>
              <li><em>Critical Mass</em> at Corden-Potts Gallery, SF, CA, and HCP, Houston, TX.</li>
            </ul>
          </dd>
          <dt>2013</dt>
          <dd>
            <ul>
              <li><em>Mad Hatters to Pixel Pushers</em>, Projective Eye Gallery, UNC Charlotte, NC.</li>
            </ul>
          </dd>
          <dt>2012</dt>
          <dd>
            <ul>
              <li><em>Shift</em>, Castell Photography, Asheville, NC.</li>
            </ul>
          </dd>
          <dt>2011</dt>
          <dd>
            <ul>
              <li><em>Photography Now</em>, Center for Photography at Woodstock, Curated by Vince Aletti.</li>
            </ul>
          </dd>
          <dt>2009</dt>
          <dd>
            <ul>
              <li><em>In Time</em>, Contact Photography Festival, Toronto, Canada.</li>
            </ul>
          </dd>
          <dt>2007</dt>
          <dd>
            <ul>
              <li><em>Alone in the Landscape</em>, Flatfile Galleries, Chicago IL. (2 person)</li>
            </ul>
          </dd>
        </dl>
      </section>
      <section>
        <h5>Selected Collections</h5>
        <div class="col-xs-12 col-sm-6 col-md-4">
          The Bibliotheque Nationale<br />
          The Houston Museum of Fine Art<br />
          The Detroit Institute of Art<br />
          The Brooklyn Museum<br />
          The Denver Museum<br />
          The Worcester Art Museum<br />
          Rock and Roll Hall of Fame<br />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          Leo Steinberg<br />
          Joel-Peter Witkin<br />
          Jan Svankmajer<br />
          Dr. Stanley Burns<br />
          Mark Waskow<br />
          Kate Pierson<br />
          Center for Photography at Woodstock<br />
        </div>
        <div class="hidden-xs hidden-sm col-md-4"></div>
      </section>
      <section>
        <h5>Selected Bibliography</h5>
        <dl>
          <dt>2017</dt>
          <dd>
            <ul>
              <li>Interview with Natasha Kurchanova, Candidate Journal, March.</li>
            </ul>
          </dd>
          <dt>2013</dt>
          <dd>
            <ul>
              <li><em>Kingston Times</em>, “KMOCA’s Krampus exhibit a smash hit” by Lynn Woods.</li>
              <li><em>Cinn. Enquirer</em>, “Self Portraits weave photos, performances”, by Jack Demaline, Feb. 8.</li>
              <li><em>Aeqai</em> “Rituals and Enactments, the self-portraits of A.A.M.” by Jonathan Kamholtz, Jan 20.</li>
              <li><em>Citybeat</em>, “Photographs from a private world at Iris” by Jane Durell, p. 24 plus image, Jan 30.</li>
            </ul>
          </dd>
          <dt>2011</dt>
          <dd>
            <ul>
              <li><em>Eyemazing Magazine</em> (Netherlands), pages 146-153, Sept.</li>
              <li><em>A Curator</em> (blog), by Julie Graham, April.</li>
            </ul>
          </dd>
          <dt>2010</dt>
          <dd>
            <ul>
              <li><em>The Omen Magazine</em> (Portugal), pages 106-131. March.</li>
            </ul>
          </dd>
          <dt>2008</dt>
          <dd>
            <ul>
              <li><em>Xfuns Magazine</em> (Taiwan), pages 72-77, Feb.</li>
            </ul>
          </dd>
          <dt>2007</dt>
          <dd>
            <ul>
              <li><em>Light Leaks Magazine</em> (Canada), cover, pages 1, 8-11, May.</li>
              <li><em>Malabar Magazine</em> (Mexico), cover, pages 4, 7-12, 45, Feb.</li>
            </ul>
          </dd>
          <dt>2006</dt>
          <dd>
            <ul>
              <li><em>Kwartalnik Magazine</em> (Poland), “A.A.M.’S World of Illusions,” p. 22-29, Fall, by Grzegorz Przyborek.</li>
              <li><em>The New York Gaho</em> (Japan), page 2, 16-18, Jan.</li>
            </ul>
          </dd>
          <dt>2005</dt>
          <dd>
            <ul>
              <li><em>Zoom Magazine</em> (Italy) ”Anne Arden McDonald”, pages 34-38, July, by Gigliola Foschi.</li>
              <li><em>The Photographic Collector Newsletter</em>, page 11, Dec, by Jayme Guokas.</li>
            </ul>
          </dd>
          <dt>2004</dt>
          <dd>
            <ul>
              <li><em>The Brooklyn Rail</em>, July, Book review by Ellen Pearlman.</li>
              <li><em>Artnews Magazine</em>, page 73, (image), January.</li>
            </ul>
          </dd>
          <dt>2003</dt>
          <dd>
            <ul>
              <li><em>Photo Insider Magazine</em>, pages 30-32, March, by Marissa E. Campbell.</li>
            </ul>
          </dd>
          <dt>2001</dt>
          <dd>
            <ul>
              <li><em>Shots Magazine</em>, “Interview: Anne Arden McDonald”, pages 4-10, March, by Russell Joslin.</li>
            </ul>
          </dd>
        </dl>
      </section>
      <section>
        <h5>Catalogues And Books</h5>
        <dl>
          <dt>2018</dt>
          <dd>
            <ul>
              <li><em>Photographic Possibilities</em>, by Robert Hirsch, page 260.</li>
            </ul>
          </dd>
          <dt>2016</dt>
          <dd>
            <ul>
              <li><em>Kreativni Barva (Creative Color)</em>, edited by Jan Pohribny, page 243, Czech Republic.</li>
            </ul>
          </dd>
          <dt>2014</dt>
          <dd>
            <ul>
              <li><em>Aesthetica Anthology of 100 contemporary artists</em>, page 52, London, England.</li>
              <li><em>Black Forest</em>, published by Candela Books<em></em>, edited by Russell Joslin.</li>
            </ul>
          </dd>
          <dt>2013</dt>
          <dd>
            <ul>
              <li><em>Lenzless</em>, Plates to Pixels catalogue.</li>
              <li><em>Guide to Alternative Processes</em>, page 59, edited by Jill Enfield.</li>
              <li><em>Eyemazing Anthology</em>, pages 294, 352-353.</li>
            </ul>
          </dd>
          <dt>2012</dt>
          <dd>
            <ul>
              <li><em>Fotofocus</em> catalogue (Cinn.) page 26, plus image, Fall.</li>
            </ul>
          </dd>
          <dt>2010</dt>
          <dd>
            <ul>
              <li><em>Plastic Cameras: Toying with Creativity</em>, pages 28-30, by Michelle Bates.</li>
            </ul>
          </dd>
          <dt>2008</dt>
          <dd>
            <ul>
              <li><em>Emergence Catalogue</em>, pages 12,-13.</li>
              <li><em>Fotofest Catalogue-Participating Spaces</em>, pages 97, 99, 247.</li>
            </ul>
          </dd>
          <dt>2006</dt>
          <dd>
            <ul>
              <li><em>Bratislava Month of Photography</em> (Slovakia), pages 118-119.</li>
            </ul>
          </dd>
          <dt>2005</dt>
          <dd>
            <ul>
              <li><em>The Jacques Maillet Collection</em>, pages 132-137.</li>
            </ul>
          </dd>
          <dt>2004</dt>
          <dd>
            <ul>
              <li><em>Anne Arden McDonald, Installations and Self Portraits</em>, published April.</li>
            </ul>
          </dd>
          <dt>2002</dt>
          <dd>
            <ul>
              <li><em>Artists to Artists- A Decade of the Sharpe Foundation</em>, page 134-135.</li>
            </ul>
          </dd>
          <dt>2000</dt>
          <dd>
            <ul>
              <li><em>Black and White Photography</em>, page 41, March. Edited by James Luciana.</li>
              <li><em>Dreams 1900-2000-Art and the Unconscious</em>, page 256, Jan. Edited by Lynn Gamwell.</li>
            </ul>
          </dd>
        </dl>
      </section>
      <section>
        <h5>Selected Awards, Honors, And Residencies</h5>
        <dl>
          <dt>2019</dt>
          <dd>
            <ul>
              <li>Residency at the Millay Colony, Austerlitz, NY.</li>
            </ul>
          </dd>
          <dt>2019</dt>
          <dd>
            <ul>
              <li>Residency at Saltonstall Foundation for the Arts, Ithaca, NY.</li>
            </ul>
          </dd>
          <dt>2018-2015</dt>
          <dd>
            <ul>
              <li>Residency at Byrdcliffe, August, Woodstock, NY.</li>
            </ul>
          </dd>
          <dt>2014</dt>
          <dd>
            <ul>
              <li>Schrattenberg Residency, June, Scheifling, Austria</li>
            </ul>
          </dd>
          <dt>2013</dt>
          <dd>
            <ul>
              <li>Critical Mass top 50, Photolucida, Portland, Or.</li>
              <li>Finalist, Clarence John Laughlin Award, New Orleans Photo Alliance.</li>
            </ul>
          </dd>
          <dt>2012</dt>
          <dd>
            <ul>
              <li>Honorable Mention in the Fine Art category of the IPA awards, Lucy Foundation.</li>
            </ul>
          </dd>
        </dl>
      </section>
      <section>
        <h5>Commissions</h5>
        <dl>
          <dt>2008</dt>
          <dd>
            <ul>
              <li>Curated Czech and Slovak show for The University of The Arts, Philadelphia, PA.</li>
            </ul>
          </dd>
          <dt>2007</dt>
          <dd>
            <ul>
              <li>Commissioned to produce 24 pieces for BRIC Rotunda Gallery’s benefit auction, Brooklyn, NY.</li>
            </ul>
          </dd>
          <dt>2006</dt>
          <dd>
            <ul>
              <li>Reviewer for the Critical Mass competition, Portland, OR.</li>
            </ul>
          </dd>
          <dt>2004</dt>
          <dd>
            <ul>
              <li>Curated Czech/Slovak booth for the Stray Show, Chicago IL.</li>
            </ul>
          </dd>
          <dt>1999</dt>
          <dd>
            <ul>
              <li>Curated Czech/Slovak exhibition for The Czech Center, NYC.</li>
              <li>Curated “<em>The Body Narrative”</em> (Czech / Slovak) for the David Scott Gallery, Toronto, Canada.</li>
            </ul>
          </dd>
          <dt>1998</dt>
          <dd>
            <ul>
              <li>Discoveries of the Meeting Place, Fotofest, Houston, Tx.</li>
            </ul>
          </dd>
        </dl>
      </section>
      <section>
        <h5>Selected Teaching—Lectures  Visiting Artist  Panels  Broadcast</h5>
        <dl>
          <dt>2016</dt>
          <dd>
            <ul>
              <li>Lecture and demonstration, Bushwick Community Darkroom, NY.</li>
            </ul>
          </dd>
          <dt>2015</dt>
          <dd>
            <ul>
              <li>Lecture at Walker Fine Art, Denver, Co.</li>
            </ul>
          </dd>
          <dt>2014</dt>
          <dd>
            <ul>
              <li>Real Art Today, lecture at Trestle Gallery, NY.</li>
            </ul>
          </dd>
          <dt>2013</dt>
          <dd>
            <ul>
              <li>Lafayette College, lecture and demonstration, Easton, Pa.</li>
            </ul>
          </dd>
          <dt>2012</dt>
          <dd>
            <ul>
              <li>Alt Photo Night, Photographic Resource Center, Boston Ma.</li>
              <li>F295 Symposium lecture, Pittsburgh, Pa.</li>
              <li>Leaders in Software and Art (LISA) salon group, NY.</li>
            </ul>
          </dd>
          <dt>2007-12</dt>
          <dd>
            <ul>
              <li><em>Exploring Portraiture</em>, Parsons School of Design, NY.</li>
            </ul>
          </dd>
          <dt>2005-12</dt>
          <dd>
            <ul>
              <li>International Center for Photography, NY.</li>
            </ul>
          </dd>
          <dt>2011</dt>
          <dd>
            <ul>
              <li>Barbara Bullitt Christian memorial lecture, University of Louisville, Ky.</li>
              <li>Win Initiatives, Take Five series, NY.</li>
              <li>Panel on Women in Photography, B&H Photo, NY.</li>
              <li>F295 panel on Alternative Photography, B&H Photo, NY.</li>
            </ul>
          </dd>
          <dt>2010</dt>
          <dd>
            <ul>
              <li>Interviewed for the TV program Caught in the Act: Art in Brooklyn, by Brooklyn Independent TV network,</li>
              <li>sponsored by BCAT, NY.</li>
              <li>School of Visual Arts, NY.</li>
            </ul>
          </dd>
          <dt>2006</dt>
          <dd>
            <ul>
              <li>Massachusetts Institute of Technology, Boston, Ma.</li>
              <li>University of the Arts, Philadelphia, Pa.</li>
            </ul>
          </dd>
          <dt>2001</dt>
          <dd>
            <ul>
              <li>University of Massachusetts, Amherst, Ma.</li>
            </ul>
          </dd>
        </dl>
      </section>
      <section>
        <h5>Education</h5>
        <dl>
          <dt>1988</dt>
          <dd>
            <ul>
              <li>B.A. with Honors in Art from Wesleyan University, Middletown, Ct.</li>
              <li>Majors in Studio Art (photography) and English (poetry).</li>
            </ul>
          </dd>
          <dt>1988</dt>
          <dd>
            <ul>
              <li>Visiting undergraduate at the Rhode Island School of Design, Fall</li>
            </ul>
          </dd>
          <dt>1987</dt>
          <dd>
            <ul>
              <li>Providence, R.I.  Studied with William Parker. Spring (’87) and Summer (‘86)</li>
            </ul>
          </dd>
        </dl>
      </section>
    </div>
  </div>
</div>