<div class="container-fluid">

	<div class="row">
	
		<div class="col-lg-7" id="pages-text">
	<p><strong>Resume</strong></p>
	&nbsp;
	
<p>SELECTED ONE PERSON EXHIBITIONS</p>

<p>2012</p>
<p>Cincinnati Month of Photography, Cinn, Oh.</p>
<p>2011</p>
<p>ATOM, PLANET, Skink Ink Editions, Brooklyn, NY.
	&nbsp;
WEIGHING THE CLOUDS, University of Louisville, Ky.</p>
<p>2010</p>
<p>Win Initiatives, New York, NY.</p>
<p>2009</p>
<p>Liloveve Gallery, Brooklyn, NY.</p>
<p>2006</p>
<p>THE BODY IN TRANSFMORMATION, Month of Photography, Slovakia.
	&nbsp;
FLYING AND FLOATING, Hartsfield International Airport, Atlanta, GA.</p>
<p>2005</p>
<p>BOUYANCY, Cave Space, Brooklyn, NY.
	&nbsp;
FROM EARTH TO SKY, Artoteca, Milan, Italy</p>
<p>2003</p>
<p>UC Berkeley Extension Gallery, San Francisco, Ca.
	&nbsp;
Brooklyn Botanic Garden, Brooklyn, NY.
	&nbsp;
Contemporary Arts Center, Abilene, Tx.</p>
<p>2000</p>
<p>LA METAMORFOSIS DE ICARO, Santiago, Chile.</p>
1999
TRACES OF THE BODY, Cave Space, Brooklyn, NY.
1998
MISE-EN-SCENE, University of Delaware, Newark, De.
Robin Rice Gallery, New York, NY.
1997
PERSONAL RITUALS, American Cultural Center, Prague, Czech Republic.
Third Eye Photowork Gallery on the Internet.
In Focus Gallerie, Cologne, Germany.
1996
Clement Gallery, University of Toledo, Oh.
Books and Company, New York, NY.
Gallerie 3.14, Laon, France.
1995
Month of Photography, Bratislava, Slovakia.
1994
THE WILL OF THE WISP, Atlanta Photography Gallery, Atlanta, Ga.
AUTONOMY AND ALCHEMY, ICARUS AND ANGELS, Melkweg Gallerie, Amsterdam.
Pyramid Fine Arts, Rochester, NY.
Alma College, Alma, Mi.
Eastern Washington University, Spokane, Wa.
Second Street Gallery, Charlottesville, Va.
1993
In Focus Gallerie, Cologne, Germany.
STILL WEBBINGS WHISPER, Coker College, Hartsville, SC.
Iisalmen Kamera Festival, Iisalmi, Finland.
NADIR A LIDERTS (Dark Anxieties), Camera Club of New York, NY.
Moore College of Art and Design, Philadelphia, Pa.
1992
NEW WORK FROM EASTERN EUROPE, Spazi Fine Art, Housatonic, Ma.
Török Fürdö Malom-Tó, Budapest, Hungary.
SELECTED GROUP EXHIBITIONS

2012
SHIFT, Castell Photography, Asheville, NC.
SYBIOTAXIPLASM, Curated by Savannah Spirit, NYC.
2011
PHOTOGRAPHY NOW, Center for Photography at Woodstock, Curated by Vince Aletti.
MODERN ALTERNATIVE, Denver Month of Photography , Redline Artspace, Denver, CO.
2010
Ad Hoc Gallery, Brooklyn, NY.
2009
IN TIME, Contact Photography Festival, Toronto, Canada.
2008
LAYERED, BUOYED, TETHERED, BARELY, Emergence Festival, Governor's Island, NYC.
MIND OVER MATTER, Houston Community College, Houston Tx.
DECOMPRESSION, Queens Museum, Queens, NY.
ALONE IN THE LANDSCAPE, Flatfile Galleries, Chicago IL. (2 person)
2005
LUMINOSITY, Museum of Outdoor Arts, Englewood, Co.
2004
STAGED FANTASY, Sink Gallery, Denver, Co.
Carrie Haddad Gallery, Hudson, NY.
1999
WHERE THE GIRLS ARE, Detroit Art Institute, Detroit, Mn.
1998
VAGUENESS, G4 Gallery, Cheb, Czech Republic. (two person).
CRITICS' CHOICE: DISCOVERIES OF THE MEETING PLACE, Fotofest, Houston, Tx.
1997
GLORIOUS GARDENS, Bonnie Benrubi Gallery, New York, NY.
1996
THE FLESH AND THE SPIRIT, Houston Center for Photography, Tx. (two person).
FRESH WORK, Southeast Museum of Photography, Daytona Beach, Fl.
8x10: Contemporary American Photographers, Queens College Museum, NY.
1995
TIME MEASURE, Museum of Applied Arts, Budapest, Hungary.
Photogallerie Wien, Vienna, Austria (two person with Pavel Pecha).
1994
FOUR PHOTOGRAPHERS, Paul Cava Gallery, Philadelphia, Pa.
GROUP SHOW, Tom Cugliani Gallery, New York, NY.
MYTHS, DREAMS AND MYSTERIES, Del. Ctr. for Cont. Art, Wilmington, De. (two person).
1993
BILD PHOTOGALERIE, Aarau, Switzerland (two person).
1992
THE ROPE SHOW, Artists' Space, New York, NY.
SELECTED COLLECTIONS

The Bibliotheque Nationale
Joel-Peter Witkin
The Houston Museum of Fine Art
Jan Svankmajer
The Detroit Art Institute
Dr. Stanley Burns
The Brooklyn Museum
Alberto Venzago
The Denver Museum
Lee Male
The Worcester Art Museum
Leo Steinberg
SELECTED BIBLIOGRAPHY (FROM A LIST OF 215)

2011
Eyemazing Magazine (Netherlands), pages 146-153, Sept.
2010
The Omen Magazine (Portugal), pages 106-131. March.
2008
Xfuns Magazine (Taiwan), pages 72-77, Feb.
2007
Light Leaks Magazine (Canada), cover, pages 1, 8-11, May.
Malabar Magazine (Mexico), cover, pages 4, 7-12, 45, Feb.
2006
Kwartalnik Magazine (Poland), “A.A.M.’S World of Illusions,” p. 22-29, Fall, by Grzegorz Przyborek.
The New York Gaho (Japan), page 2, 16-18, Jan.
2005
Zoom Magazine (Italy), ”Anne Arden McDonald”, pages 34-38, July, by Gigliola Foschi.
The Photographic Collector Newsletter, page 11, Dec, by Jayme Guokas.
2004
The Brooklyn Rail, July, Book review by Ellen Pearlman.
Artnews Magazine, page 73, (image), January.
2003
Photo Insider Magazine, pages 30-32, March, by Marissa E. Campbell.
2001
Shots Magazine, “Interview: Anne Arden McDonald”, pages 4-10, March, by Russell Joslin.
1999
Aperture Magazine, “Explorations: Ten Photographers”, Feb. Article by Peggy Roalf.
Review Magazine, March, Article by Carol Diehl.
1997
La Fotografia (Spain), ”Autoretratos” #63 page 44-45, Oct.
Photo Metro Magazine volume 15, issue 144, page 40-41.
CV Photo Magazine (Canada), "Dreams in Black and White" #38, pages 16-23, by Celine Mayrand.
(4 articles in French newspapers, Summer 1996)
1996
Photographies Magazine (France), “Young Talent”, #77 page 72, June.
Shots Magazine, "I Am Not This Body", # 51 pages 4-8, March. Article by Anne McDonald.
1995
Art Life Magazine (Slovakia), " O Anicke", pages 30-31, Dec. Article by Rudo Prekop.
(5 articles in Austrian papers and magazines, Fall 1995).
1994
Apex Magazine, (Germany), #20 pages 83-84, Text by Wanda Strukus.
NY Newsday, "The Marketing of Generation X", Nov. Article by Amei Wallach.
Foto Magazine (Netherlands), pages 17-21, Aug. Portfolio.
Time Out (Netherlands), "Fantastic Voyage", July. Review by Dave Potts.
LA Times, "Exhibitions Wander Through Once-Taboo Territory", May. Review by Cathy Curtis.
Rochester Chronicle "Eerie Works Help Artist Work Through Dreams" April. By Elizabeth Forbes.
New York Times, “Group Show--Tom Cugliani Gallery”, Jan. Review by Charles Hagen.
1993
Village Voice, ”Choices--Disposable Generation”, July. Review by Vince Aletti.
(10 assorted articles appearing in Finnish papers, July)
Cooperation (Switzerland),“Un Combat Quotidien”, # 29 page 38, July. Article by Justine Deleau.
Le Democrat (France), ”Une Toute Autre Realite”, page 28, May. Article by Bernadette Richard.
1992
Photo Review Magazine, vol. 15 #3 page 42, Summer.
Art New England Magazine, June-July. Review by Charlet Davenport.
European Photography Magazine, pages 28-31 July. Article by Wanda Strukus.
CATALOGUES AND BOOKS

2010
PLASTIC CAMERAS: TOYING WITH CREATIVITY, Second Edition, pages 28-30, by Michelle Bates
2008
EMERGENCE CATALOGUE, pages 12,-13
FOTOFEST CATALOGUE--PARTICIPATING SPACES, pages 97, 99, 247
2006
PLASTIC CAMERAS: TOYING WITH CREATIVITY, pages V, 24-26
BRATISLAVA MONTH OF PHOTOGRAPHY (Slovakia), pages 118-119
2005
THE JACQUES MALLET COLLECTION, Pages 132-137
2004
ANNE ARDEN MCDONALD, INSTALLATIONS AND SELF PORTRAITS, published April
2002
Artists to Artists- A Decade of the Sharpe Foundation, page 134-135
2000
BLACK AND WHITE PHOTOGRAPHY, page 41, March. Edited by James Luciana.
DREAMS 1900-2000-ART AND THE UNCONSCIOUS, page 256, Jan. Edited by Lynn Gamwell.
1998
Arles, Festival Voies Off, (France) pages 11, 14.
Fotofest, Discoveries of the Meeting Place, page 74.
1996
Fresh Work, Southeast Museum of Photography, June.
8 x 10, Queens College Museum, June.
Art is Where the Home Was, p. 7.
1995
Lichtecht (Austria), Photo Symposium--Schrattenberg Castle, pages 6-7, Sept.
Third International Footage (Germany), pages 96-97, Oct.
Time Capsule-A Concise Encyclopedia of Women Artists, pages 510-511, Winter.
Bratislava Month of Photography (Slovakia), pages 148-149, Nov.
Bilder #115 (Austria, Photogallerie Wien), pages 1-9, Oct.
COMMISSIONS

2008
Curated Czech and Slovak show for The University of The Arts, Philadelphia, PA.
2007
Commissioned to produce 24 pieces for BRIC Rotunda Gallery's benefit auction, Brooklyn, NY.
2006
Reviewer for the Critical Mass competition, Portland, OR.
2004
Curated Czech/Slovak booth for the Stray Show, Chicago IL.
1999
Curated Czech/Slovak exhibition for The Czech Center, NYC.
Curated The Body Narrative (Czech / Slovak) for the David Scott Gallery, Toronto, Canada.
1997
Curated “Theatre of the Absurd (staged photography)” for Cave space, Brooklyn, NY.
Performance at The Kitchen in NYC with TRIPTYCHON from Austria.
1996
Curated Czech/Slovak exhibition for Spazi Contemporary Art, Housatonic, Ma.
SELECTED AWARDS AND HONORS

1998
Discoveries of the Meeting Place, Fotofest, Houston, Tx.
1993, 1997
Finalist, Friends of Photography Ruttenberg Foundation Award.
1995
Best in show, Robin Rule Gallery, Denver, Co.
1994
Artist in Residence, Millay Colony, Austerlitz, N.Y. (Lapine Fellow)
"The Space Program" grant from The Marie Walsh Sharpe Art Foundation.
1992
Best in show, Images Gallery, Cincinnati, Oh.
Merit Award, WOMEN IN THE VISUAL ARTS 1992.
1991
Chosen to represent the Organization of Independent Artists in their anniversary show.
1990
Third Place, Maine Photographic Workshop's annual print competition.
First Place in Black & White, Soho Photo Annual Print Competition.
Merit Award, MATRIX INTERNATIONAL '90, Sacramento, Ca.
Third Place, San Diego Art Institute's Annual Exhibition, San Diego, Ca.
1984
Savannah College of Art and Design Scholarship for Summer Art Study in London and Paris.
SELECTED TEACHING, PUBLIC SPEAKING, & SLIDE PRESENTATIONS

2012
Alt Photo Night, Photographic Resource Center, Boston Ma.
2012
F295 Syposium (panel), Pittsburgh, Pa.
2012
Leaders in Software and Art (LISA) salon group, NY.
2007-12
EXPLORING PORTRAITURE, Parsons School of Design, NYC.
2005-12
International Center for Photography, NYC.
2011
Barbara Bullitt Christian memorial lecture, University of Louisville, Ky.
Win Initiatives, Take Five series, NY.
Panel on Women in Phototgraphy, B&H Photo, NY.
F295 panel on Alternative Photography, B&H Photo, NY.
2010
Interviewed for the tv program Caught in the Act: Art in Brooklyn, by Brooklyn Independent TV network sponsored by BCAT.
School of Visual Arts, NYC
2006
Massachusetts Institute of Technology, Boston, Ma.
Pratt Institute, Brooklyn, NY.
University of the Arts, Philadelphia, Pa.
2001
University of Massachusetts, Amherst, Ma.
1999
Denver Contemporary Arts Museum, Denver, Co.
1998
ASMP chapter meeting, St. Louis, Mo.
Dom Fotografie, Poprad, Slovakia.
University of Delaware, Newark, De.
1997
American Cultural Center, Prague, Czech Republic.
Symposium for photographers working with rituals, Sypka, Czech Republic.
1996
Professional Women Photographers, NYC.
Houston Center for Photography, Houston, Tx.
1995
Bratislava Month of Photography, Bratislava, Slovakia.
1994
The Moor, Amsterdam, The Netherlands.
Atlanta Photography Group, Atlanta, Ga.
1993
Soros Foundation, Tallinn, Estonia.
Iisalmen Kamera Festival, Iisalmi, Finland (two lectures).
Camera Club, NYC.
Images Center for Photography, Cincinnati, Oh.
1992
Spazi Fine Art, Housatonic, Ma.
Texas Tech University, Lubbock, Tx.
EDUCATION

1988
B.A. with Honors in Art from Wesleyan University, Middletown, Ct.
Majors in Studio Art (photography) and English (poetry).
Fall 1988
Visiting undergraduate at the Rhode Island School of Design,
1987, 1986
Providence, R.I.
Studied with William Parker.


</div>

<div class="col-lg-4" id="pages-box">
		<div id="pages-image">
			<div class="up"><%= link_to image_tag("watch_3_up.jpg", alt: "scroll up") %>
			</div>
			<div class="down"><%= link_to image_tag("watch_2_down.jpg", alt: "scroll down") %>
			</div>
		</div>
		description-date
</div>
	
	

	</div>

</div>
