<div id="resume" class="container-constrained resume">
  <div class="row">
    <div class="col-xs-12">
      <section>
        <h5>Selected Solo Exhibitions</h5>
        <div class="item">
          <div class="item--year">2020</div>
          <div class="item--items">
            <ul>
              <li><em>Particle, Rupture, Synthesis</em>, Center for Photography at Woodstock, Woodstock NY.</li>
              <li><em>Everything Changes Everything</em>, Lycoming College, Williamsport Pa.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2018</div>
          <div class="item--items">
            <ul>
              <li><em>Atom, Planet</em>, Candela Gallery, Richmond, Va.</li>
              <li><em>Ebb and Flow</em>, Carrie Haddad Gallery, Hudson, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2017</div>
          <div class="item--items">
            <ul>
              <li><em>Rise, Fall, Float</em>, Soho Photo Gallery, New York, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2012</div>
          <div class="item--items">
            <ul>
              <li><em>Rituals and Enactments</em>, Iris Bookcafe, Cincinnati Month of Photo, Cinn, Oh.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li><em>Atom, Planet</em>, Skink Ink Editions, Brooklyn, NY.</li>
              <li><em>Weighing the Clouds</em>, University of Louisville, Ky.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2010</div>
          <div class="item--items">
            <ul>
              <li>Win Initiatives, New York, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2009</div>
          <div class="item--items">
            <ul>
              <li>Liloveve Gallery, Brooklyn, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2006</div>
          <div class="item--items">
            <ul>
              <li><em>The Body in Transformation</em>, Month of Photography, Slovakia.</li>
              <li><em>Flying and Floating</em>, Hartsfield International Airport, Atlanta, Ga.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2005</div>
          <div class="item--items">
            <ul>
              <li><em>Buoyancy</em>, Cave Space, Brooklyn, NY.</li>
              <li><em>From Earth to Sky</em>, O’Artoteca, Milan, Italy.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2003</div>
          <div class="item--items">
            <ul>
              <li>UC Berkeley Extension Gallery, San Francisco, Ca.</li>
              <li>Brooklyn Botanic Garden, Brooklyn, NY.</li>
              <li>Contemporary Arts Center, Abilene, Tx.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2000</div>
          <div class="item--items">
            <ul>
              <li><em>La Metamorphosis de Icaro</em>, Santiago, Chile.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Group Exhibitions</h5>
        <div class="item">
          <div class="item--year">2024</div>
          <div class="item--items">
            <ul>
              <li><em>Photographica</em>, Galerie Lucida, Red Bank, NJ.</li>
              <li><em>Cabinet of Curiosities</em>, Reeves House Visual Arts Center, Woodstock, Ga.</li>
              <li><em>Alchemy of Light</em>, Sohn Fine Art, Lenox, Ma.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2023</div>
          <div class="item--items">
            <ul>
              <li><em>Mirrors and Windows</em>, Sofia, Bulgaria.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2022-24</div>
          <div class="item--items">
            <ul>
              <li><em>Among Friends</em>, various locations, Brooklyn and NYC, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2022</div>
          <div class="item--items">
            <ul>
              <li><em>Nurture</em>, Fotogallerie Wien, part of the Vienna Photo Biennial, Vienna, Austria.</li>
              <li><em>Convergence</em>, The Halide Project, Philadelphia, Pa.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2020</div>
          <div class="item--items">
            <ul>
              <li><em>Wild Things: Disrupting the Photographic Archive</em>, CEPA, Buffalo NY. Curated by Robert Hirsch.</li>
              <li><em>The Qualities of Light</em>, Center for Creative Photography, Tuscon Az.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2019</div>
          <div class="item--items">
            <ul>
              <li><em>Lensless in Louisville for the PhotoBiennial</em>, University of Louisville, Louisville Ky.</li>
              <li><em>Out of the Dark, Alternative Process Photography</em>, Cabrillo Gallery, Aptos, Ca.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2018</div>
          <div class="item--items">
            <ul>
              <li><em>Light & Metal</em>, Photo Eye Gallery, Santa Fe, NM.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2017</div>
          <div class="item--items">
            <ul>
              <li><em>Nucleus-Imagining Science</em>, Noorderlicht Photofestival, The Netherlands.</li>
              <li><em>Between the Medium: Seeing Photographically</em>, Redline Art Center, Denver, Co.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2016</div>
          <div class="item--items">
            <ul>
              <li><em>Chemistry: Explorations in Abstract Photography</em>, Garrison Art Center, Garrison, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2015</div>
          <div class="item--items">
            <ul>
              <li><em>Unconscious Metaphors</em>, Walker Fine Art, Denver, Co.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013-14</div>
          <div class="item--items">
            <ul>
              <li><em>Critical Mass</em> at Corden-Potts Gallery, SF, CA, and HCP, Houston, TX.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li><em>Mad Hatters to Pixel Pushers</em>, Projective Eye Gallery, UNC Charlotte, NC.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li><em>Photography Now</em>, Center for Photography at Woodstock, Curated by Vince Aletti.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2009</div>
          <div class="item--items">
            <ul>
              <li><em>In Time</em>, Contact Photography Festival, Toronto, Canada.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Collections</h5>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div style="white-space: nowrap;">The Bibliotheque Nationale</div>
          <div style="white-space: nowrap;">The Houston Museum of Fine Art</div>
          <div style="white-space: nowrap;">The Detroit Institute of Art</div>
          <div style="white-space: nowrap;">The Brooklyn Museum</div>
          <div style="white-space: nowrap;">The Denver Museum</div>
          <div style="white-space: nowrap;">The Worcester Art Museum</div>
          <div style="white-space: nowrap;">Rock and Roll Hall of Fame</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div style="white-space: nowrap;">Leo Steinberg</div>
          <div style="white-space: nowrap;">Joel-Peter Witkin</div>
          <div style="white-space: nowrap;">Jan Svankmajer</div>
          <div style="white-space: nowrap;">Dr. Stanley Burns</div>
          <div style="white-space: nowrap;">Mark Waskow</div>
          <div style="white-space: nowrap;">Kate Pierson</div>
          <div style="white-space: nowrap;">Center for Photography at Woodstock</div>
        </div>
      </section>
      <section>
        <h5>Selected Bibliography</h5>
        <div class="item">
          <div class="item--year">2022</div>
          <div class="item--items">
            <ul>
              <li><em>Lenscratch Magazine</em>, Luminous Visions: Atom Planet, By Galina Kurlat, April.</li>
              <li><em>Analogue Explorations Magazine</em>, conversation with Melanie King and Dale Rio, p44-51, Summer.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2017</div>
          <div class="item--items">
            <ul>
              <li><em>Candidate Journal</em>, Interview with Natasha Kurchanova, March.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2016</div>
          <div class="item--items">
            <ul>
              <li><em>Two Coats of Paint Blog</em>, Blurring the Boundary Between Painting and Photography, May.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li><em>Kingston Times</em>, “KMOCA’s Krampus exhibit a smash hit” by Lynn Woods.</li>
              <li><em>Cinn. Enquirer</em>, “Self Portraits weave photos, performances”, by Jack Demaline, Feb. 8.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li><em>Eyemazing Magazine</em> (Netherlands), pages 146-153, Sept.</li>
              <li><em>A Curator</em> (blog), by Julie Graham, April.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2010</div>
          <div class="item--items">
            <ul>
              <li><em>The Omen Magazine</em> (Portugal), pages 106-131. March.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2008</div>
          <div class="item--items">
            <ul>
              <li><em>Xfuns Magazine</em> (Taiwan), pages 72-77, Feb.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2007</div>
          <div class="item--items">
            <ul>
              <li><em>Light Leaks Magazine</em> (Canada), cover, pages 1, 8-11, May.</li>
              <li><em>Malabar Magazine</em> (Mexico), cover, pages 4, 7-12, 45, Feb.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2006</div>
          <div class="item--items">
            <ul>
              <li><em>Kwartalnik Magazine</em> (Poland), “A.A.M.’S World of Illusions,” p. 22-29, Fall, by Grzegorz Przyborek.</li>
              <li><em>The New York Gaho</em> (Japan), page 2, 16-18, Jan.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2005</div>
          <div class="item--items">
            <ul>
              <li><em>Zoom Magazine</em> (Italy) ”Anne Arden McDonald”, pages 34-38, July, by Gigliola Foschi.</li>
              <li><em>The Photographic Collector Newsletter</em>, page 11, Dec, by Jayme Guokas.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2004</div>
          <div class="item--items">
            <ul>
              <li><em>The Brooklyn Rail</em>, July, Book review by Ellen Pearlman.</li>
              <li><em>Artnews Magazine</em>, page 73, (image), January.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2003</div>
          <div class="item--items">
            <ul>
              <li><em>Photo Insider Magazine</em>, pages 30-32, March, by Marissa E. Campbell.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2001</div>
          <div class="item--items">
            <ul>
              <li><em>Shots Magazine</em>, “Interview: Anne Arden McDonald”, pages 4-10, March, by Russell Joslin.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">1999</div>
          <div class="item--items">
            <ul>
              <li><em>Aperture Magazine</em>,“Explorations: Ten Photographers”, Feb. Article by Peggy Roalf.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Catalogues And Books</h5>
        <div class="item">
          <div class="item--year">2022</div>
          <div class="item--items">
            <ul>
              <li><em>Nurture</em>, Bilder 328, Fotogalerie Wien, March.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2021</div>
          <div class="item--items">
            <ul>
              <li><em>EJMAP</em>, Searching for a Sense of Wholeness, Interview by Rafael Kazakov, vol. 9, #1, cover, p.6-39.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2020</div>
          <div class="item--items">
            <ul>
              <li><em>Wild Things: Disrupting the Photographic Archive</em>, CEPA, Buffalo NY. Catalogue by Robert Hirsch.</li>
              <li>Jill Enfield’s Guide to Photographic Alternative Processes, page 59, edited by Jill Enfield.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2019</div>
          <div class="item--items">
            <ul>
              <li><em>Out of the Dark, Alternative Process Photography</em>, Cabrillo Gallery catalogue, page 31-32.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2018</div>
          <div class="item--items">
            <ul>
              <li><em>Photographic Possibilities</em>, by Robert Hirsch, page 260.</li>
              <li><em>Series of Dreams, 17 years of Shots Magazine</em>, edited by Russel Joslin, page 165.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2016</div>
          <div class="item--items">
            <ul>
              <li><em>Kreativni Barva (Creative Color)</em>, edited by Jan Pohribny, page 243, Czech Republic.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2014</div>
          <div class="item--items">
            <ul>
              <li><em>Aesthetica Anthology of 100 contemporary artists</em>, page 52, London, England.</li>
              <li><em>Black Forest</em>, published by Candela Books<em></em>, edited by Russell Joslin.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li><em>Lenzless</em>, Plates to Pixels catalogue.</li>
              <li><em>Eyemazing Anthology</em>, pages 294, 352-353.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2012</div>
          <div class="item--items">
            <ul>
              <li><em>Fotofocus</em> catalogue (Cinn.) page 26, plus image, Fall.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2010</div>
          <div class="item--items">
            <ul>
              <li><em>Plastic Cameras: Toying with Creativity</em>, pages 28-30, by Michelle Bates.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2004</div>
          <div class="item--items">
            <ul>
              <li><em>Anne Arden McDonald, Installations and Self Portraits</em>, published April.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2002</div>
          <div class="item--items">
            <ul>
              <li><em>Artists to Artists- A Decade of the Sharpe Foundation</em>, page 134-135.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2000</div>
          <div class="item--items">
            <ul>
              <li><em>Dreams 1900-2000-Art and the Unconscious</em>, page 256, Jan. Edited by Lynn Gamwell.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Awards, Honors, And Residencies</h5>
        <div class="item">
          <div class="item--year">2021</div>
          <div class="item--items">
            <ul>
              <li>, 2018-2015 Resident at Byrdcliffe, Woodstock, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2019</div>
          <div class="item--items">
            <ul>
              <li>Resident at Saltonstall Foundation for the Arts, Ithaca, NY.</li>
              <li>Resident at the Millay Colony, Austerlitz, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2014</div>
          <div class="item--items">
            <ul>
              <li>Schrattenberg Resident, June, Scheifling, Austria</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li>Critical Mass top 50, Photolucida, Portland, Or.</li>
              <li>Finalist, Clarence John Laughlin Award, New Orleans Photo Alliance.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2012</div>
          <div class="item--items">
            <ul>
              <li>Honorable Mention in the Fine Art category of the IPA awards, Lucy Foundation.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Commissions</h5>
        <div class="item">
          <div class="item--year">2008</div>
          <div class="item--items">
            <ul>
              <li>Curated Czech and Slovak show for The University of The Arts, Philadelphia, PA.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2007</div>
          <div class="item--items">
            <ul>
              <li>Commissioned to produce 24 pieces for BRIC Rotunda Gallery’s benefit auction, Brooklyn, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2006</div>
          <div class="item--items">
            <ul>
              <li>Reviewer for the Critical Mass competition, Portland, OR.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2004</div>
          <div class="item--items">
            <ul>
              <li>Curated Czech/Slovak booth for the Stray Show, Chicago IL.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Teaching—Lectures  Visiting Artist  Panels—Broadcast</h5>
        <div class="item">
          <div class="item--year">2025</div>
          <div class="item--items">
            <ul>
              <li>Maine Media Workshops, Rockport, Me.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2024</div>
          <div class="item--items">
            <ul>
              <li>That Doesn’t Happen Every Day, podcast interview.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2020</div>
          <div class="item--items">
            <ul>
              <li>Artist Talk, Center for Photography at Woodstock, online.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2016</div>
          <div class="item--items">
            <ul>
              <li>Lecture and demonstration, Bushwick Community Darkroom, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2015</div>
          <div class="item--items">
            <ul>
              <li>Lecture at Walker Fine Art, Denver, Co.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2014</div>
          <div class="item--items">
            <ul>
              <li>Real Art Today, lecture at Trestle Gallery, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li>Lafayette College, lecture and demonstration, Easton, Pa.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2012</div>
          <div class="item--items">
            <ul>
              <li>Alt Photo Night, Photographic Resource Center, Boston Ma.</li>
              <li>F295 Symposium lecture, Pittsburgh, Pa.</li>
              <li>Leaders in Software and Art (LISA) salon group, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2007-12</div>
          <div class="item--items">
            <ul>
              <li><em>Exploring Portraiture</em>, Parsons School of Design, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2005-12</div>
          <div class="item--items">
            <ul>
              <li>International Center for Photography, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li>Barbara Bullitt Christian memorial lecture, University of Louisville, Ky.</li>
              <li>Panel on Women in Photography, B&H Photo, NY.</li>
              <li>F295 panel on Alternative Photography, B&H Photo, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2010</div>
          <div class="item--items">
            <ul>
              <li>Interviewed for the TV program Caught in the Act: Art in Brooklyn, by Brooklyn Independent TV network,</li>
              <li>sponsored by BCAT, NY.</li>
              <li>School of Visual Arts, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2006</div>
          <div class="item--items">
            <ul>
              <li>Massachusetts Institute of Technology, Boston, Ma.</li>
              <li>University of the Arts, Philadelphia, Pa.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2001</div>
          <div class="item--items">
            <ul>
              <li>University of Massachusetts, Amherst, Ma.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Education</h5>
        <div class="item">
          <div class="item--year">1988</div>
          <div class="item--items">
            <ul>
              <li>B.A. with Honors in Art from Wesleyan University, Middletown, Ct.</li>
              <li>Majors in Studio Art (photography) and English (poetry).</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">1988</div>
          <div class="item--items">
            <ul>
              <li>Visiting undergraduate at the Rhode Island School of Design, Fall</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">1987</div>
          <div class="item--items">
            <ul>
              <li>Providence, R.I.  Studied with William Parker. Spring (’87) and Summer (‘86)</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>