<div id="resume" class="container-constrained resume">
  <div class="row">
    <div class="col-xs-12">
      <section>
        <h5>Anne Arden Mcdonald</h5>
        49 Bogart Street #21<br />
        Brooklyn, NY 11206<br />
        917-821-0133<br />
        Anne@AnneArdenMcDonald.com<br />
        www.AnneArdenMcDonald.com
      </section>
      <section>
        <h5>Selected Solo Exhibitions</h5>
        <div class="item">
          <div class="item--year">2020</div>
          <div class="item--items">
            <ul>
              <li>Particle, Rupture, Synthesis, CPW, Woodstock NY.</li>
              <li>Everything Changes Everything, Lycoming College, Williamsport Pa.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2018</div>
          <div class="item--items">
            <ul>
              <li>Atom, Planet, Candela Gallery, Richmond, Va.</li>
              <li>Ebb and Flow, Carrie Haddad Gallery, Hudson, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2017</div>
          <div class="item--items">
            <ul>
              <li>Rise, Fall, Float, Soho Photo Gallery, New York, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2012</div>
          <div class="item--items">
            <ul>
              <li>Rituals and Enactments, Iris Bookcafe, Cincinnati Month of Photo, Cinn, Oh.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li>Atom, Planet, Skink Ink Editions, Brooklyn, NY.</li>
              <li>Weighing the Clouds, University of Louisville, Ky.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2010</div>
          <div class="item--items">
            <ul>
              <li>Win Initiatives, New York, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2009</div>
          <div class="item--items">
            <ul>
              <li>Liloveve Gallery, Brooklyn, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2006</div>
          <div class="item--items">
            <ul>
              <li>The Body in Transformation, Month of Photography, Slovakia.</li>
              <li>Flying and Floating, Hartsfield International Airport, Atlanta, Ga.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2005</div>
          <div class="item--items">
            <ul>
              <li>Buoyancy, Cave Space, Brooklyn, NY.</li>
              <li>From Earth to Sky, O’Artoteca, Milan, Italy.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2003</div>
          <div class="item--items">
            <ul>
              <li>UC Berkeley Extension Gallery, San Francisco, Ca.</li>
              <li>Brooklyn Botanic Garden, Brooklyn, NY.</li>
              <li>Contemporary Arts Center, Abilene, Tx.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2000</div>
          <div class="item--items">
            <ul>
              <li>La Metamorphosis de Icaro, Santiago, Chile.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Group Exhibitions</h5>
        <div class="item">
          <div class="item--year">2022</div>
          <div class="item--items">
            <ul>
              <li>Nurture, Fotogallerie Wien, part of the Vienna Photo Biennial, Vienna Austria.</li>
              <li>Foto Relevance Gallery, Houston TX.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2021</div>
          <div class="item--items">
            <ul>
              <li>Convergence, Cameraless photography at the The Halide Project, Philadelphia, Pa.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2020</div>
          <div class="item--items">
            <ul>
              <li>Wild Things, CEPA, Buffalo NY. Curated by Robert Hirsch.</li>
              <li>The Qualities of Light, Center for Creative Photography, Tuscon Az.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2019</div>
          <div class="item--items">
            <ul>
              <li>Lensless for the PhotoBiennial, U of L, Louisville Ky.</li>
              <li>Out of the Dark, Alternative Process Photography, Cabrillo Gallery, Aptos, Ca.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2018</div>
          <div class="item--items">
            <ul>
              <li>Light & Metal, Photo Eye Gallery, Santa Fe, NM.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2017</div>
          <div class="item--items">
            <ul>
              <li>Nucleus-Imagining Science, Noorderlicht Photofestival, The Netherlands.</li>
              <li>Between the Medium, Redline Art Center, Denver, Co.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2016</div>
          <div class="item--items">
            <ul>
              <li>Chemistry: Explorations in Abstract Photography, GAC, Garrison, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2015</div>
          <div class="item--items">
            <ul>
              <li>Unconscious Metaphors, Walker Fine Art, Denver, Co.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013-14</div>
          <div class="item--items">
            <ul>
              <li>Critical Mass at Corden-Potts Gallery, SF, CA, and HCP, Houston, TX.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li>Mad Hatters to Pixel Pushers, Projective Eye Gallery, UNC Charlotte, NC.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li>Photography Now, CPW, Curated by Vince Aletti.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2009</div>
          <div class="item--items">
            <ul>
              <li>In Time, Contact Photography Festival, Toronto, Canada.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Collections</h5>
        <div class="col-xs-12 col-sm-6 col-md-4">
          The Bibliotheque Nationale<br />
          The Houston Museum of Fine Art<br />
          The Detroit Institute of Art<br />
          The Brooklyn Museum<br />
          The Denver Museum<br />
          The Worcester Art Museum<br />
          Rock and Roll Hall of Fame<br />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          Leo Steinberg<br />
          Joel-Peter Witkin<br />
          Jan Svankmajer<br />
          Dr. Stanley Burns<br />
          Mark Waskow<br />
          Center for Creative Photography, Tuscon<br />
          Center for Photography at Woodstock<br />
        </div>
        <div class="hidden-xs hidden-sm col-md-4"></div>
      </section>
      <section>
        <h5>Selected Bibliography</h5>
        <div class="item">
          <div class="item--year">2022</div>
          <div class="item--items">
            <ul>
              <li>Analogue Explorations, conversation with Melanie King and Dale Rio.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2017</div>
          <div class="item--items">
            <ul>
              <li>Candidate Journal, Interview with Natasha Kurchanova, March.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li>Kingston Times, “KMOCA’s Krampus exhibit a smash hit” by Lynn Woods.</li>
              <li>Cinn. Enquirer, “Self Portraits”, by Jack Demaline, Feb. 8.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li>Eyemazing Magazine (Netherlands), pages 146-153, Sept.</li>
              <li>A Curator (blog), by Julie Graham, April.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2010</div>
          <div class="item--items">
            <ul>
              <li>The Omen Magazine (Portugal), pages 106-131. March.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2008</div>
          <div class="item--items">
            <ul>
              <li>Xfuns Magazine (Taiwan), pages 72-77, Feb.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2007</div>
          <div class="item--items">
            <ul>
              <li>Light Leaks Magazine (Canada), cover, pages 1, 8-11, May.</li>
              <li>Malabar Magazine (Mexico), cover, pages 4, 7-12, 45, Feb.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2006</div>
          <div class="item--items">
            <ul>
              <li>Kwartalnik (Poland), “A.A.M.’S World,” p. 22-29, Fall, by Grzegorz Przyborek.</li>
              <li>The New York Gaho (Japan), page 2, 16-18, Jan.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2005</div>
          <div class="item--items">
            <ul>
              <li>Zoom Mag. (Italy) ”Anne Arden McDonald”, p. 34-38, July, by Gigliola Foschi.</li>
              <li>The Photographic Collector Newsletter, page 11, Dec, by Jayme Guokas.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2004</div>
          <div class="item--items">
            <ul>
              <li>The Brooklyn Rail, July, Book review by Ellen Pearlman.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2003</div>
          <div class="item--items">
            <ul>
              <li>Photo Insider Magazine, pages 30-32, March, by Marissa E. Campbell.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2001</div>
          <div class="item--items">
            <ul>
              <li>Shots Mag, “Interview: Anne Arden McDonald”, p. 4-10, by Russell Joslin.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">1999</div>
          <div class="item--items">
            <ul>
              <li>Aperture Mag,“Explorations: 10 Photographers”, Feb. Article by Peggy Roalf.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Catalogues And Books</h5>
        <div class="item">
          <div class="item--year">2021</div>
          <div class="item--items">
            <ul>
              <li>EJMAP, European Journal of Media, Art and Photography, vol. 9, #1, p.6-39.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2020</div>
          <div class="item--items">
            <ul>
              <li>Wild Things, CEPA, Buffalo NY. Catalogue by Robert Hirsch.</li>
              <li>Jill Enfield’s Guide to Photographic Alternative Processes, page 59,</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2019</div>
          <div class="item--items">
            <ul>
              <li>Out of the Dark, Alt. Process Photography, Cabrillo catalogue, page 31-32.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2018</div>
          <div class="item--items">
            <ul>
              <li>Photographic Possibilities, by Robert Hirsch, page 260.</li>
              <li>Series of Dreams, 17 years of Shots Mag, edited by Russel Joslin, page 165.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2014</div>
          <div class="item--items">
            <ul>
              <li>Aesthetica Anthology of 100 cont. artists, page 52, London, England.</li>
              <li>Black Forest, published by Candela Books, edited by Russell Joslin.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2013</div>
          <div class="item--items">
            <ul>
              <li>Eyemazing Anthology, pages 294, 352-353.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2004</div>
          <div class="item--items">
            <ul>
              <li>Anne Arden McDonald, Installations and Self Portraits, published April.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Awards, Honors, Residencies, And Commissions</h5>
        <div class="item">
          <div class="item--year">2021, 2018-2015</div>
          <div class="item--items">
            <ul>
              <li>Resident at Byrdcliffe, Woodstock, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2019</div>
          <div class="item--items">
            <ul>
              <li>Resident at Saltonstall Foundation for the Arts, Ithaca, NY.</li>
              <li>Resident at the Millay Colony, Austerlitz, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2014</div>
          <div class="item--items">
            <ul>
              <li>Schrattenberg Resident, June, Scheifling, Austria</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2008</div>
          <div class="item--items">
            <ul>
              <li>Curated Czech and Slovak show for U of the Arts, Philadelphia, PA.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2007</div>
          <div class="item--items">
            <ul>
              <li>Had 24 pieces Commissioned for BRIC Rotunda’s auction, Brooklyn, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2006</div>
          <div class="item--items">
            <ul>
              <li>Reviewer for the Critical Mass competition, Portland, OR.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Selected Teaching—Lectures  Visiting Artist  Panels  Broadcast</h5>
        <div class="item">
          <div class="item--year">2016</div>
          <div class="item--items">
            <ul>
              <li>Lecture and demonstration, Bushwick Community Darkroom, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2012</div>
          <div class="item--items">
            <ul>
              <li>F295 Symposium lecture, Pittsburgh, Pa.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2007-12</div>
          <div class="item--items">
            <ul>
              <li>Exploring Portraiture, Parsons School of Design, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2005-12</div>
          <div class="item--items">
            <ul>
              <li>International Center for Photography, NY.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2011</div>
          <div class="item--items">
            <ul>
              <li>Barbara Bullitt Christian memorial lecture, University of Louisville, Ky.</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">2010</div>
          <div class="item--items">
            <ul>
              <li>Interviewed for the TV program Caught in the Act: Art in Brooklyn, by                Brooklyn</li>
              <li>Independent TV network, sponsored by BCAT, NY.</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h5>Education</h5>
        <div class="item">
          <div class="item--year">1988</div>
          <div class="item--items">
            <ul>
              <li>B.A. with Honors in Art from Wesleyan University, Middletown, Ct.</li>
              <li>Majors in Studio Art (photography) and English (poetry).</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">1988</div>
          <div class="item--items">
            <ul>
              <li>Visiting undergraduate at the Rhode Island School of Design, Fall</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="item--year">1987</div>
          <div class="item--items">
            <ul>
              <li>Providence, R.I. Studied with William Parker. Spring (’87) and Summer (‘86)</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
