<div class="container pages-page resume">

	<div class="row">
		<div class="col-lg-12">
		<p><strong>SELECTED SOLO EXHIBITIONS</strong><br /><br />
			<span class="year">2013</span>Lafayette College, Easton Pa.<br />
			<span class="year">2012</span>Iris Bookcafe, Cincinnati Month of Photography, Cincinnati, Oh.<br />
			<span class="year">2011</span>ATOM, PLANET, Skink Ink Editions, Brooklyn, NY.<br />
			<span class="indent">WEIGHING THE CLOUDS, University of Louisville, Ky.</span><br />
			<span class="year">2010</span>Win Initiatives, New York, NY.<br />
			<span class="year">2009</span>Liloveve Gallery, Brooklyn, NY.<br />
			<span class="year">2006</span>THE BODY IN TRANSFORMATION, Month of Photography, Slovakia.<br />
			<span class="indent">FLYING AND FLOATING, Hartsfield International Airport, Atlanta, Ga.</span><br />
			<span class="year">2005</span>BUOYANCY, Cave Space, Brooklyn, NY.<br />
			<span class="indent">FROM EARTH TO SKY, O’Artoteca, Milan, Italy.</span><br />
			<span class="year">2003</span>UC Berkeley Extension Gallery, San Francisco, Ca.<br />
			<span class="indent">Brooklyn Botanic Garden, Brooklyn, NY.</span><br />
			<span class="indent">Contemporary Arts Center, Abilene, Tx.</span><br />
			<span class="year">2000</span>LA METAMORPHOSIS DE ICARO, Santiago, Chile.<br />
			<span class="year">1999</span>TRACES OF THE BODY, Cave Space, Brooklyn, NY.<br />
			<span class="year">1998</span>MISE-EN-SCENE, University of Delaware, Newark, De.<br />
			<span class="indent">Robin Rice Gallery, New York, NY.</span><br />
			<span class="year">1997</span>PERSONAL RITUALS, American Cultural Center, Prague, Czech Republic.<br />
			<span class="indent">In Focus Gallerie, Cologne, Germany.</span><br />
			<span class="year">1996</span>Clement Gallery, University of Toledo, Oh.<br />
			<span class="indent">Books and Company, New York, NY.</span><br />
			<span class="indent">Gallerie 3.14, Laon, France.</span><br />
			<span class="year">1995</span>Month of Photography, Bratislava, Slovakia.<br />
			<span class="year">1994</span>Month of Photography, Bratislava, Slovakia.<br />
			<span class="indent">THE WILL OF THE WISP, Atlanta Photography Gallery, Atlanta, Ga.</span><br />
			<span class="indent">AUTONOMY AND ALCHEMY, ICARUS AND ANGELS, Melkweg Gallerie, Amsterdam. </span><br />
			<span class="indent">Pyramid Fine Arts, Rochester, NY.</span><br />
			<span class="year">1993</span>In Focus Gallerie, Cologne, Germany.<br />
			<span class="indent">Iisalmen Kamera Festival, Iisalmi, Finland.</span><br />
			<span class="indent">NADIR A LIDERTS (Dark Anxieties), Camera Club of New York, NY.</span><br />
			<span class="year">1992</span>NEW WORK FROM EASTERN EUROPE, Spazi Fine Art, Housatonic, Ma.	<br />
			<span class="indent">Török Fürdö Malom-Tó, Budapest, Hungary.</span>
		</p>
		
		<p><strong>SELECTED  GROUP EXHIBITIONS</strong><br /><br />
			<span class="year">2015</span>UNCONSCIOUS METAPHORS, Walker Fine Art, Denver, Co.<br />
			<span class="indent">THE ORIGINS OF PHOTOGRAPHY; PAST AND PRESENT, Pattern Shop Studio, Denver, Co.</span><br />
			<span class="year">2014</span>MATERIAL, STRATA, SYNTHESIS at KMOCA, Kingston, NY.<br />
			<span class="indent">PHOTOGRAPHY at Carrie Haddad Gallery in Hudson, NY. </span><br />
			<span class="indent">CHEMISTRY at Matteawan Gallery in Beacon, NY.</span><br />
			<span class="year-2">2013-14</span>CRITICAL MASS at Corden-Potts Gallery, SF, CA, and HCP, Houston, TX.<br />
			<span class="year">2013</span>MAD HATTERS TO PIXEL PUSHERS, Projective Eye Gallery, UNC Charlotte, NC.<br />
			<span class="indent">REFLECTIONS ON TIME at Piermont Straus Gallery, Piermont, NY. (2 person)</span><br />
			<span class="year">2012</span>SHIFT, Castell Photography, Asheville, NC.<br />
			<span class="indent">RSYBIOTAXIPLASM, Curated by Savannah Spirit, NYC.</span><br />
			<span class="year">2011</span>PHOTOGRAPHY NOW, Center for Photography at Woodstock, Curated by Vince Aletti.<br />
			<span class="year">2010</span>Ad Hoc Gallery, Brooklyn, NY.<br />
			<span class="year">2009</span>IN TIME, Contact Photography Festival, Toronto, Canada.<br />
			<span class="year">2008</span>LAYERED, BUOYED, TETHERED, BARELY, Emergence Festival, Governor’s Island, NYC.<br />
			<span class="indent">MIND OVER MATTER, Houston Community College, Houston Tx.</span><br />
			<span class="year">2007</span>ALONE IN THE LANDSCAPE, Flatfile Galleries, Chicago IL. (2 person)<br />
			<span class="year">2005</span>LUMINOSITY, Museum of Outdoor Arts, Englewood, Co.<br />
			<span class="year">2004</span>STAGED FANTASY, Sink Gallery, Denver, Co.<br />
			<span class="indent">Carrie Haddad Gallery, Hudson, NY.</span><br />
			<span class="year">1999</span>WHERE THE GIRLS ARE, Detroit Institute of Art Detroit, Mn.<br />			
			<span class="year">1998</span>VAGUENESS, G4 Gallery, Cheb, Czech Republic. (two person).<br />
			<span class="indent">DISCOVERIES OF THE MEETING PLACE, Fotofest, Houston, Tx.</span><br />
			<span class="year">1997</span>GLORIOUS GARDENS, Bonnie Benrubi Gallery, New York, NY.<br />
			<span class="year">1996</span>THE FLESH AND THE SPIRIT, Houston Center for Photography, Tx. (two person).<br />
			<span class="indent">FRESH WORK, Southeast Museum of Photography, Daytona Beach, Fl.</span><br />
			<span class="year">1995</span>THE FLESH AND THE SPIRIT, Houston Center for Photography, Tx. (two person).<br />
			<span class="indent">Photogallerie Wien, Vienna, Austria (two person with Pavel Pecha).</span><br />
			<span class="year">1994</span>FOUR PHOTOGRAPHERS, Paul Cava Gallery, Philadelphia, Pa.<br />
			<span class="indent">GROUP SHOW, Tom Cugliani Gallery, New York, NY.</span><br />
			<span class="indent">MYTHS, DREAMS AND MYSTERIES, Del. Ctr. for Cont. Art, Wilmington, De. (two person). </span><br />
			<span class="year">1993</span>Bild Photogalerie, Aarau, Switzerland (two person).<br />
			<span class="year">1992</span>THE ROPE SHOW, Artists' Space, New York, NY.</p>

			<p><strong>SELECTED COLLECTIONS</strong><br /><br />
			<span class="collectionsa">The Bibliotheque Nationale</span>
			<span class="collectionsb">Joel-Peter Witkin</span><br />
			<span class="collectionsa">The Houston Museum of Fine Art	</span>
			<span class="collectionsc">Jan Svankmajer</span><br />
			<span class="collectionsa">The Detroit Institute of Art</span>
			<span class="collectionsd">Dr. Stanley Burns</span><br />
			<span class="collectionsa">The Brooklyn Museum</span>
			<span class="collectionse">&nbsp;Leo Steinberg</span><br />
			<span class="collectionsa">The Denver Museum</span>
			<span class="collectionsf">&nbsp;The Worcester Art Museum</span></p>
			
			<p><strong>SELECTED BIBLIOGRAPHY--ARTICLES AND REVIEWS</strong><br /><br />
			<span class="year">2013</span>EYEMAZING ANTHOLOGY, page 294, 352-353.<br />
			<span class="indent">KINGSTON TIMES “KMOCA’s Krampus exhibit a smash hit” by Lynn Woods.</span><br />
			<span class="indent">CINN. ENQUIRER, “Self Portraits weave photos, performances” by Jack Demaline, Feb. 8.</span>
				<br />
			<span class="year">2011</span>EYEMAZING MAGAZINE (Netherlands), pages 146-153, Sept.<br />
			<span class="indent">A CURATOR (blog), by Julie Graham, April.</span><br />
			<span class="year">2010</span>THE OMEN MAGAZINE (Portugal), pages 106-131. March.<br />
			<span class="year">2008</span>XFUNS MAGAZINE (Taiwan), pages 72-77, Feb. <br />
			<span class="year">2007</span>LIGHT LEAKS MAGAZINE (Canada), cover, pages 1, 8-11, May.<br />
			<span class="indent">MALABAR MAGAZINE (Mexico), cover, pages 4, 7-12, 45, Feb.</span><br />
			<span class="year">2006</span>KWARTALNIK MAGAZINE (Poland), “A.A.M.’S World of Illusions,” p. 22-29, Fall, by Grzegorz Przyborek.<br />
			<span class="indent">THE NEW YORK GAHO (Japan), page 2, 16-18, Jan. </span><br />
			<span class="year">2005</span>ZOOM MAGAZINE (Italy), ”Anne Arden McDonald”, pages 34-38, July, by Gigliola Foschi.<br />
			<span class="indent">THE PHOTOGRAPHIC COLLECTOR NEWSLETTER, page 11, Dec, by Jayme Guokas.</span><br />
			<span class="year">2004</span>THE BROOKLYN RAIL, July, Book review by Ellen Pearlman.<br />
			<span class="indent">ARTNEWS MAGAZINe, page 73, (image), January.</span><br />
			<span class="year">2003</span>PHOTO INSIDER MAGAZINE, pages 30-32, March, by Marissa E. Campbell.<br />
			<span class="year">2001</span>SHOTS MAGAZINE, “Interview: Anne Arden McDonald”, pages 4-10, March, by Russell Joslin.<br />
			<span class="year">1999</span>APERTURE MAGAZINE, “Explorations: Ten Photographers”, Feb. Article by Peggy Roalf.<br />
			<span class="indent">REVIEW MAGAZINE, March, Article by Carol Diehl.</span><br />
			<span class="year">1997</span>LA FOTOGRAFIA (Spain), ”Autoretratos” #63 page 44-45, Oct.<br />
			<span class="indent">PHOTO METRO MAGAZINE volume 15, issue 144, page 40-41.</span><br />
			<span class="indent">CV PHOTO MAGAZINE (Canada), "Dreams in Black and White" #38, pages 16-23, by Celine Mayrand. </span><br />
			<span class="year">1995</span>ART LIFE MAGAZINE (Slovakia), " O Anicke", pages 30-31, Dec. Article by Rudo Prekop.<br />
			<span class="year">1994</span>NY NEWSDAY, "The Marketing of Generation X", Nov. Article by Amei Wallach.<br />
			<span class="indent">FOTO MAGAZINE (Netherlands), pages 17-21, Aug. Portfolio.</span><br />
			<span class="indent">TIME OUT (Netherlands), "Fantastic Voyage", July. Review by Dave Potts.</span><br />
			<span class="indent">NEW YORK TIMES, “Group Show--Tom Cugliani Gallery”, Jan. Review by Charles Hagen.</span><br />
			<span class="year">1993</span>VILLAGE VOICE, ”Choices--Disposable Generation”, July. Review by Vince Aletti.<br />
			<span class="year">1992</span>EUROPEAN PHOTOGRAPHY MAGAZINE, pages 28-31 July. Article by Wanda Strukus. <br />
			
			<p><strong>CATALOGUES AND BOOKS</strong><br /><br />
			<span class="year">2014</span>AESTHETICA ANTHOLOGY of 100 contemporary artists, page 52, London, England<br />
			<span class="indent">BLACK FOREST, edited by Russell Joslin.</span><br />
			<span class="year">2013</span>LENZLESS, Plates to Pixels catalogue.<br />
			<span class="indent">GUIDE TO ALTERNATIVE PROCESSES, page 59, edited by Jill Enfield.</span><br />
			<span class="indent">EYEMAZING ANTHOLOGY, pages 294, 352-353.</span><br />
			<span class="year">2012</span>FOTOFOCUS catalogue (Cinn.) page 26, plus image, fall.<br />
			<span class="year">2010</span>PLASTIC CAMERAS: TOYING WITH CREATIVITY, pages 28-30, by Michelle Bates. <br />
			<span class="year">2006</span>BRATISLAVA MONTH OF PHOTOGRAPHY (Slovakia), pages 118-119. <br />
			<span class="year">2005</span>THE JACQUES MAILLET COLLECTION, pages 132-137.<br />
			<span class="year">2004</span>ANNE ARDEN MCDONALD, INSTALLATIONS AND SELF PORTRAITS, published April. <br />
			<span class="year">2002</span>ARTISTS TO ARTISTS- A DECADE OF THE SHARPE FOUNDATION, page 134-135.<br />
			<span class="year">2000</span>BLACK AND WHITE PHOTOGRAPHY, page 41, March. Edited by James Luciana. <br />
			<span class="indent">DREAMS 1900-2000-ART AND THE UNCONSCIOUS, page 256, Jan. Edited by Lynn Gamwell.</span><br />
			<span class="year">1998</span>ARLES, FESTIVAL VOIES OFF, (France) pages 11, 14. <br />
			<span class="indent">FOTOFEST, DISCOVERIES OF THE MEETING PLACE, page 74.</span><br />
			<span class="year">1996</span>FRESH WORK, Southeast Museum of Photography, June.<br />
			<span class="indent">8 X 10, Queens College Museum, June.</span><br />
			<span class="year">1995</span>BILDER #115 (Austria, Photogallerie Wien), pages 1-9, Oct.  <br />
			
			<p><strong>SELECTED  AWARDS  AND  HONORS</strong><br />
			<span class="year">2013</span>Critical Mass top 50, Photolucida, Portland, OR.<br />
			<span class="indent">Finalist, Clarence John Laughlin Award, New Orleans Photo Alliance.</span><br />
			<span class="year">2012</span>Honorable Mention in the Fine Art category of the IPA awards, Lucy Foundation.<br />
			<span class="year">1998</span>Discoveries of the Meeting Place, Fotofest, Houston, Tx.  <br />
			<span class="year-1">1993,7</span>Finalist, Friends of Photography Ruttenberg Foundation Award. <br />
			<span class="year">1995</span>Best in show, Robin Rule Gallery, Denver, Co.	 <br />
			<span class="year">1992</span>Best in show, Images Gallery, Cincinnati, Oh. <br />
			<span class="year">1990</span>Third Place, Maine Photographic Workshop's annual print competition.    <br />
			<span class="year">1984</span>Savannah College of Art and Design Scholarship for Summer Art Study in London and Paris. <br />
			
			<p><strong>SELECTED TEACHING— LECTURES—VISITING ARTIST—RESIDENCIES--PANELS--BROADCAST</strong><br />
			<span class="year">2015</span>Walker Fine Art, lecture in Denver, Co.<br />
			<span class="year">2014</span>Schrattenberg Residency, June, Scheifling, Austria.<br />
			<span class="indent">Real Art Today, lecture at Trestle Gallery, NYC.</span><br />
			<span class="year">2013</span>Lecture and demonstration Lafayette College, Easton, Pa.<br />
			<span class="year">2012</span>Lectured at Alt Photo Night, Photographic Resource Center, Boston Ma.<br />
			<span class="indent">Panelist, F295 Syposium, Pittsburgh, Pa.</span><br />
			<span class="indent">Lectured at Leaders in Software and Art (LISA) salon group, NY.</span><br />
			<span class="year">2011</span>Honorable Mention in the Fine Art category of the IPA awards, Lucy Foundation.<br />
			<span class="year-2">2007-12</span>Taught Exploring Portraiture, Parsons School of Design, NY.<br />
			<span class="year-2">2005-12</span>Lectured at the International Center for Photography, NY.<br />
			<span class="year">2011</span>Barbara Bullitt Christian memorial lecture, University of Louisville, Ky.<br />
			<span class="indent">Panelist, Women in Phototgraphy, B&H Photo, NY.</span><br />
			<span class="indent">Panelist, F295 panel on Alternative Photography, B&H Photo, NY.</span><br />
			<span class="year">2010</span>Interviewed for Caught in the Act: Art in Brooklyn, by Brooklyn Independent TV, sponsored by BCAT, NY.<br />
			<span class="year">2007</span>Commissioned to produce 24 pieces for BRIC Rotunda Gallery’s benefit auction, Brooklyn, NY.<br />
			<span class="year">2006</span>Reviewer for the Critical Mass competition, Portland, OR.<br />
			<span class="year">1999</span>Lectured  at the Denver Contemporary Arts Museum, Denver, Co.<br />
			<span class="year">1998</span>Lectured at the Dom Fotografie, Poprad, Slovakia.<br />
			<span class="year">1997</span>Lectured at the American Cultural Center, Prague, Czech Republic.<br />
			<span class="indent">Lectured and taught workshop, Symposium for artists working with rituals, Sypka, Czech Republic.</span><br />
			<span class="indent">Lectured at the Houston Center for Photography, Houston, Tx.</span><br />
			<span class="year">1995</span>Lectured at the Bratislava Month of Photography, Bratislava, Slovakia.<br />
			<span class="year">1994</span>Lectured at the Moor, Amsterdam, The Netherlands.<br />
			<span class="indent">Artist in Residence, Millay Colony, Austerlitz, N.Y. (Lapine Fellow)</span><br />
			<span class="indent">"The Space Program" grant from The Marie Walsh Sharpe Art Foundation.</span><br />
			<span class="year">1993</span>Lectured at the Soros Foundation, Tallinn, Estonia.<br />
			<span class="indent">Lectured at the Iisalmen Kamera Festival, Iisalmi, Finland (two lectures).</span><br />
			<span class="indent">Lectured at the Camera Club of NY.</span><br />

			<p><strong>EDUCATION</strong><br />
			<span class="year">1988</span>B.A. with Honors in Art from Wesleyan University, Middletown, Ct.<br />
			<span class="indent">Majors in Studio Art (photography) and English (poetry).</span><br />
			<span class="year-2">1986-88</span>Visiting undergraduate at the RISD, Providence, R.I. Spring (’87), Summer (‘86), Fall (’88)<br />
			


























</div>
	

	</div>

</div>
