<% show_subtitle = false if local_assigns[:show_subtitle].nil? %>

<% if show_subtitle %>
  <div class="row">
    <div class="col-12">
      <h3><%= gallery.name %></h3>
    </div>
  </div>
<% end %>

<% if gallery.meta? %>
  <% gallery.galleries.each do |subgallery| %>
    <%= render partial: 'gallery', locals: { gallery: subgallery, show_subtitle: gallery.show_gallery_titles? } %>
  <% end %>
<% else %>
  <div class="row">
    <% gallery.images.each do |item| %>
      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= render partial: 'image', locals: { image: item } %>
      </div>
    <% end %>
  </div>
<% end %>

