<div class="row">
  <% gallery.images.each_with_index do |item, index| %>
    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item">
      <%= render partial: 'image', locals: { image: item } %>
    </div>

    <%= loop_clearfix index %>
  <% end %>
</div>
