<%= render partial: 'title', locals: { gallery: gallery } %>

<% items_per_row = 4 %>

<% gallery.images.each_slice(items_per_row) do |row| %>
  <div class="row">
    <% row.each do |item| %>
      <div class="col-md-<%= 12 / items_per_row %> gallery-item">
        <%= render partial: 'image', locals: { image: item } %>
      </div>
    <% end %>
  </div>
<% end %>
