<div class="scrollbars">
  <div class="gallery-scroll gallery-up" id="scroll-up">
    <%= link_to image_tag('watch_3_up.jpg', alt: 'scroll up', class: 'img-responsive', width: 320, height: 480, id: 'up-button') %>
  </div>
  <div class="gallery-scroll gallery-down" id="scroll-down">
    <%= link_to image_tag('watch_3_down.jpg', alt: 'scroll down', class: 'img-responsive', width: 320, height: 480, id: 'down-button') %>
  </div>
</div>
