

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-1-couples.jpg", alt: "couples", :class => "img-responsive"), resume_path %>
			<em>Couples</em>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-2-eyelash.jpg", alt: "bio", :class => "img-responsive" ), biography_path %>
			<em>Eyelash</em>
		
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-3-flying.jpg", alt: "critcism", :class => "img-responsive"), criticism_path %>
			<em>Flying</em>
		</div>
	

	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-4-women.jpg", alt: "Czech Work", :class => "img-responsive"),  "http://www.czechslovakphotos.com/" %>
			<em>Women</em>	
		</div>
	</div>
</div>

