

<div class="container" id="about-page-container">

	<div class="row" id="about-page-row">
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-1-couples.jpg", alt: "couples", :class => "img-responsive"), botanicals_1_path %>
			<em>Couples</em>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-2-eyelash.jpg", alt: "eyelash", :class => "img-responsive" ), botanicals_2_path %>
			<em>Eyelash</em>
		
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-3-flying.jpg", alt: "flying", :class => "img-responsive"), botanicals_3_path %>
			<em>Flying</em>
		</div>
	

	
		<div class="col-xs-12 col-sm-6 col-md-3" id="about-row">
			<%= link_to image_tag("bot-4-women.jpg", alt: "women", :class => "img-responsive"),  botanicals_4_path %>
			<em>Women</em>	
		</div>
	</div>
</div>

