<div class="container-fluid detail-image">
	<div class="row detail-row">
		<div class="col-xs-11">
			<%= image_tag("bot-4-women.jpg", alt: "women", 
			:class => "img-responsive")%></a><br />
			<div class="row detail-text">

				<div class= "col-xs-11  col-sm-8" id="detail-text">
					<em>Work Detail description, date &mdash; <%= link_to("Read Artists Statement", botanicals_statement_path) %></em>
				</div><br />
			</div><br />
			<div class="row">
				<div class="col-xs-1 pull-left left-watch">
					<a href= '/botanicals3'><%= image_tag("watch_4_left.jpg", alt: "left facing watch hand", 
					:class => "img-responsive")%></a><br />
				</div>
				
				<div class="clearfix visible-sm"></div>
				<div class="col-xs-1 pull-right right-watch">
					<a href= '/botanicalsStatement'><%= image_tag("watch_4_right.jpg", alt: "right facing watch hand", 
					:class => "img-responsive")%></a><br />
				</div>
			</div>	

		</div>
	</div>
</div>