<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'title', locals: { gallery: @gallery } %>
  </div>
</div>

<div class="row scrollable-gallery-container">
  <div class="scrollable-gallery">
    <%= render partial: 'gallery', locals: { gallery: @gallery } %>
  </div>

  <%= render 'scrollbars' %>
</div>
