<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'title', locals: { gallery: @gallery } %>
  </div>
</div>

<div class="row scrollable-gallery-container">
  <div class="scrollable-gallery">
    <% if @gallery.meta? %>
      <% @gallery.galleries.each do |gallery| %>
        <%= render partial: 'gallery', locals: { gallery: gallery } %>
      <% end %>
    <% else %>
      <%= render partial: 'gallery', locals: { gallery: @gallery } %>
    <% end %>
  </div>

  <%= render 'scrollbars' %>
</div>
