<%= render partial: 'title', locals: { gallery: @gallery } %>

<div class="row">
  <div class="col-xs-12 gallery-item">
    <%= link_to image_tag(@gallery.images[0].image), @gallery.statement_path %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 gallery-item">
    <%= link_to image_tag(@gallery.images[1].image), @gallery.statement_path %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 gallery-item"
    <%= link_to image_tag(@gallery.images[2].image), @gallery.statement_path %>
  </div>
</div>
