<div class="row">
  <div class="col-12">
    <h2>Other Work</h2>
  </div>
</div>

<div class="row scrollable-gallery-container">
  <div class="scrollable-gallery">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("sp-06-12.jpg", alt: "Self Portraits"), gallery_path(:self_portrait) %>
        Self Portraits
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("watches-1-tide.jpg", alt: "Watches"), gallery_path(:watches) %>
        Watches
      </div>

      <div class="col-md-4 col-sm-6 col-12 gallery-item">
        <%= link_to image_tag("pillow_book_7.jpg", alt: "Plastic Camera"), gallery_path(:plastic_camera) %>
        Plastic Camera
      </div>
    </div>
  </div>

  <%= render 'scrollbars' %>
</div>
