<style>
	

</style>

	 <div class="container-fluid">
		<div class="row"> 
				<h1 class="title">PLASTIC CAMERA WORK</h1>
		</div>
	</div>

	<div class="container-fluid" id="plastic-camera-page-container">
		<div class="col-xs-4" id="about-row">
			<%= link_to image_tag("icon_diana_18-thumb.jpg", alt: "icon_diana_4", :class => "img-responsive"), icon_diana_path %><br />
			<em>Icon Diana Photos</em>
		</div>

		<div class="col-xs-4" id="about-row">
			<%= link_to image_tag("pillow_book_7-thumb.jpg", alt: "pillow_book_6", :class => "img-responsive" ), pillow_book_path %><br />
			<em>Pillow Book - A collaboration with Radek Grosman</em>
		
		</div>
	
		<div class="col-xs-4" id="about-row">
			<%= link_to image_tag("garden_diana_4-thumb.jpg", alt: "garden_diana_1", :class => "img-responsive" ), garden_diana_path %><br />
			<em>Garden and Travel Diana Photos</em>
		</div>
	</div>
	

