<div class="row main-image<% if @image.detail? %>-with-detail<% end %>">
  <%= image_tag(@image.main_image) %>

  <% if @image.detail? %>
    <%= image_tag(@image.detail_image) %>
  <% end %>
</div>

<%= render partial: 'description_and_links', locals: { image: @image } %>
