<div class="image-container d-flex flex-column" style="height: 100vh;">
  <div class="flex-grow-1 d-flex align-items-center">
    <%= image_tag(@image.image) %>
  </div>

  <%= render partial: 'description_and_links', locals: { image: @image } %>
</div>

<div id="loupe-notice-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hover over images in the gallery to take a closer look.</p>
        <%= image_tag('loupe.gif', alt: 'Loupe Example') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
