#statement-text {
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  font-size: 85%;
  @media(min-width: 480px) { width: 60%; }
  @media(min-width: 1300px) {font-size: 90%;}
  @media(min-width: 1525px) {font-size: 110%;}
  @media(min-width: 1648px) {font-size: 112%;}
  @media(min-width: 1725px) {font-size: 120%;}
  @media(min-width: 1855px) {font-size: 125%;}
  @media(min-width: 2100px) {font-size: 130%;}
  @media(min-width: 2300px) {font-size: 145%;}
  @media(min-width: 2472px) {font-size: 165%;}
  @media(min-width: 3000px) {font-size: 190%;}
  @media(min-width: 3500px) {font-size: 250%;}
  @media(min-width: 4000px) {font-size: 320%;}
  @media(min-width: 4500px) {font-size: 340%;}

  h2 {
    margin-bottom: 60px;
  }

  #back-watch {
    margin: 0 auto;
    width: 15%;
  }
}

.left-watch {
  width: 800%;
  @media (min-width: 480px) { width: 30%; }
}

.right-watch {
  width: 800%;
  @media (min-width: 480px) { width: 30%; }
}

#gallery-page {
  .gallery-item {
    font-style: italic;
    color: #666;
    font-size: 80%;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 0%;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  .scrollable-gallery-container {
    .scrollable-gallery {
      @extend .col-12, .col-sm-11;
    }

    .scrollbars {
      @extend .d-none, .d-sm-block, .col-sm-1;

      .gallery-scroll {
        width: 5%;
        position: fixed;

        &.gallery-down {
          bottom: 0;
        }
      }
    }
  }
}

// Detail pages

#gallery-image-page {
  .image-container {
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 15px;

      @media (min-width: 992px) {
        max-width: 76vw;
        max-height: 86vh;
      }

      &.with-loupe {
        cursor: none;
      }
    }

    .description {
      font-style: italic;
      text-align: center;
    }

    .arrows {
      color: #666;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      img {
        width: 70px;
        margin: 0 auto;

        @media (min-width: 768px) { width: 90px; }
      }

      .description {
        padding: 0 20px;

        @media(min-width: 1300px) {font-size: 115%;}
        @media(min-width: 1648px) {font-size: 130%;}
        @media(min-width: 1855px) {font-size: 150%;}
        @media(min-width: 2472px) {font-size: 220%;}
        @media(min-width: 3000px) {font-size: 240%;}
        @media(min-width: 3500px) {font-size: 290%;}
        @media(min-width: 4000px) {font-size: 320%;}
        @media(min-width: 4500px) {font-size: 400%;}
      }
    }
  }
}

/**
Loupe 2.0.1
https://github.com/redoPop/loupe
*/

.loupe {
  background: rgba(0, 0, 0, 0.25) no-repeat;
  min-width: 300px;
  min-height: 300px;
  pointer-events: none;
  border: 1px solid #000;
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 4px #000;
  -moz-box-shadow: 1px 1px 4px #000;
  box-shadow: 1px 1px 4px #000;
  transition: opacity 0.3s;
  z-index: 1000;
}
