#statement-text {
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  font-size: 85%;
  @media(min-width: 480px) { width: 60%; }
  @media(min-width: 1300px) {font-size: 90%;}
  @media(min-width: 1525px) {font-size: 110%;}
  @media(min-width: 1648px) {font-size: 112%;}
  @media(min-width: 1725px) {font-size: 120%;}
  @media(min-width: 1855px) {font-size: 125%;}
  @media(min-width: 2100px) {font-size: 130%;}
  @media(min-width: 2300px) {font-size: 145%;}
  @media(min-width: 2472px) {font-size: 165%;}
  @media(min-width: 3000px) {font-size: 190%;}
  @media(min-width: 3500px) {font-size: 250%;}
  @media(min-width: 4000px) {font-size: 320%;}
  @media(min-width: 4500px) {font-size: 340%;}

  h2 {
    margin-bottom: 60px;
  }

  #back-watch {
    margin: 0 auto;
    width: 15%;
  }
}

//Nav arrows on detail pages
#right-arrow{
  display:table-cell;
  vertical-align:middle;
  float:none;
}

#left-arrow{
  display:table-cell;
  vertical-align:middle;
  float:none;
}

#arrow-nav {
  color: #666;
  background: #fff;
  z-index: 9;
  font-family: Cardo-Italic;
  text-align: center;
  display: flex !important;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 15%;
  margin-left: 0;
  margin-right: 0;

  @media(min-width: 768px) { height: 10%; }
  @media(min-width: 1300px) {font-size: 115%;}
  @media(min-width: 1648px) {font-size: 130%;}
  @media(min-width: 1855px) {font-size: 150%;}
  @media(min-width: 2472px) {font-size: 220%;}
  @media(min-width: 3000px) {font-size: 240%;}
  @media(min-width: 3500px) {font-size: 290%;}
  @media(min-width: 4000px) {font-size: 320%;}
  @media(min-width: 4500px) {font-size: 400%;}

  .arrow {
    img {
      width: 500%;
      margin: 0 auto;
      @media (min-width: 768px) { width: 45%; }
      @media (min-width: 1001px ) { width: 40%; }
    }
  }
}

.left-watch {
  width: 800%;
  @media (min-width: 480px) { width: 30%; }
}

.right-watch {
  width: 800%;
  @media (min-width: 480px) { width: 30%; }
}

.gallery-item {
  font-family: Cardo-Italic;
  color: #666;
  font-size: 80%;
  text-align: center;
  margin-top: 2%;
  margin-left: 0%;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.scrollable-gallery-container {
  .scrollable-gallery {
    @extend .col-xs-12, .col-sm-11;
  }

  .scrollbars {
    @extend .col-sm-1, .hidden-xs;

    .gallery-scroll {
      width: 5%;
      position: fixed;

      &.gallery-down {
        bottom: 0;
      }
    }
  }
}

// Detail pages

.detail-text {
  text-align: center;
}

.detail-row {
  padding-top: 3%;
  margin-left: 40%;
  @media (min-width: 480px) { margin-left: 30%; }
}

#gallery-image-page #main-content {
  #main-image-container {
    display: flex;
    align-items: center;
  }
}

#main-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85%;
  margin-left: 0;

  @media (min-width: 768px) { height: 90%; }
}

#main-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: 992px) {
    max-width: 80vw;
    max-height: 86vh;
  }

  &.with-loupe {
    cursor: none;
  }
}

/**
Loupe 2.0.1
https://github.com/redoPop/loupe
*/

.loupe {
  background: rgba(0, 0, 0, 0.25) no-repeat;
  min-width: 300px;
  min-height: 300px;
  pointer-events: none;
  border: 1px solid #000;
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 4px #000;
  -moz-box-shadow: 1px 1px 4px #000;
  box-shadow: 1px 1px 4px #000;
  transition: opacity 0.3s;
}
