// Bio + Crit + Resume pagespage

#resume {
  margin-left: 16%;

  h5 {
    text-transform: uppercase;
    font-weight: bold;
  }

  section {
    @extend .clearfix;
    margin-bottom: 30px;

    div[class^='col-'] {
      padding-left: 0;
    }
  }

  .item {
    margin-bottom: 15px;

    @media (min-width: 600px) {
      display: flex;
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--year {
      font-weight: normal;
      width: 100%;
      @media (min-width: 600px) { width: 10%; }
    }

    &--items {
      ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
      }
    }
  }
}

#about-page {
  p {
    text-align: justify;

    font-size: 85%;
    @media(min-width: 1300px) {font-size: 90%;}
    @media(min-width: 1525px) {font-size: 110%;}
    @media(min-width: 1648px) {font-size: 112%;}
    @media(min-width: 1725px) {font-size: 120%;}
    @media(min-width: 1855px) {font-size: 125%;}
    @media(min-width: 2100px) {font-size: 130%;}
    @media(min-width: 2300px) {font-size: 145%;}
    @media(min-width: 2472px) {font-size: 165%;}
    @media(min-width: 3000px) {font-size: 190%;}
    @media(min-width: 3500px) {font-size: 250%;}
    @media(min-width: 4000px) {font-size: 320%;}
    @media(min-width: 4500px) {font-size: 340%;}
  }

  blockquote {
    p {
      &:first-of-type:before,
      &:last-of-type:after {
        content: '"'
      }
    }
  }

  .gallery-item img {
    width: 100%;
  }

  .highlighted-link {
    font-family: Cardo-Regular;
    font-size: 85%;
    @media(min-width: 1300px) {font-size: 90%;}
    @media(min-width: 1525px) {font-size: 110%;}
    @media(min-width: 1648px) {font-size: 112%;}
    @media(min-width: 1725px) {font-size: 120%;}
    @media(min-width: 1855px) {font-size: 125%;}
    @media(min-width: 2100px) {font-size: 130%;}
    @media(min-width: 2300px) {font-size: 145%;}
    @media(min-width: 2472px) {font-size: 165%;}
    @media(min-width: 3000px) {font-size: 190%;}
    @media(min-width: 3500px) {font-size: 250%;}
    @media(min-width: 4000px) {font-size: 320%;}
    @media(min-width: 4500px) {font-size: 340%;}
    color: #666;
    text-decoration: underline;

    &:hover{
      color: #333;
    }
  }
}

#pages-box {
  background: #ccc;
  text-align: center;
  padding: 30px 0;
  font-size: 80%;
}

.pages-image {
  width: 80%;
  margin: 15px auto;

  img {
    max-width: 100%;
  }
}

#pages-box-text {
  margin-right: 15%;
}

#media-container {
  margin-left :17%;
  padding-right: 10%;
  padding-top: 5%;
  @media (max-width: 991px) { padding-top: 8%; }
  height: 100%;
  max-width: 80%;
}
