// Bio + Crit + Resume pagespage

#resume {
  margin-left: 16%;

  h5 {
    text-transform: uppercase;
    font-weight: bold;
  }

  section {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  span[class^='col-'] {
    padding-left: 0;
  }
}

#about-page {
  p {
    text-align: justify;

    font-size: 85%;
    @media(min-width: 1300px) {font-size: 90%;}
    @media(min-width: 1525px) {font-size: 110%;}
    @media(min-width: 1648px) {font-size: 112%;}
    @media(min-width: 1725px) {font-size: 120%;}
    @media(min-width: 1855px) {font-size: 125%;}
    @media(min-width: 2100px) {font-size: 130%;}
    @media(min-width: 2300px) {font-size: 145%;}
    @media(min-width: 2472px) {font-size: 165%;}
    @media(min-width: 3000px) {font-size: 190%;}
    @media(min-width: 3500px) {font-size: 250%;}
    @media(min-width: 4000px) {font-size: 320%;}
    @media(min-width: 4500px) {font-size: 340%;}
  }

  blockquote {
    p {
      &:first-of-type:before,
      &:last-of-type:after {
        content: '"'
      }
    }
  }

  .gallery-item img {
    width: 100%;
  }

  .highlighted-link {
    font-family: Cardo-Regular;
    font-size: 85%;
    @media(min-width: 1300px) {font-size: 90%;}
    @media(min-width: 1525px) {font-size: 110%;}
    @media(min-width: 1648px) {font-size: 112%;}
    @media(min-width: 1725px) {font-size: 120%;}
    @media(min-width: 1855px) {font-size: 125%;}
    @media(min-width: 2100px) {font-size: 130%;}
    @media(min-width: 2300px) {font-size: 145%;}
    @media(min-width: 2472px) {font-size: 165%;}
    @media(min-width: 3000px) {font-size: 190%;}
    @media(min-width: 3500px) {font-size: 250%;}
    @media(min-width: 4000px) {font-size: 320%;}
    @media(min-width: 4500px) {font-size: 340%;}
    color: #666;
    text-decoration: underline;

    &:hover{
      color: #333;
    }
  }
}

#pages-box {
  background: #ccc;
  text-align: right;
  padding: 30px 0;
  font-size: 80%;
}

.pages-image {
  width: 80%;
  margin: 15px auto;

  img {
    max-width: 100%;
  }
}

#pages-box-text {
  margin-right: 15%;
}

.year {
  margin-right:24px;
  @media(min-width: 1300px) {margin-right: 25px;}
  @media(min-width: 1525px) {margin-right: 26px;}
  @media(min-width: 1648px) {margin-right: 26px;}
  @media(min-width: 1725px) {margin-right: 26px;}
  @media(min-width: 1855px) {margin-right: 26px;}
  @media(min-width: 2100px) {margin-right: 28px;}
  @media(min-width: 2300px) {margin-right: 28px;}
  @media(min-width: 2472px) {margin-right: 35px;}
  @media(min-width: 3000px) {margin-right: 29px;}
  @media(min-width: 3500px) {margin-right: 50px;}
  @media(min-width: 4000px) {margin-right: 65px;}
  @media(min-width: 4500px) {margin-right: 80px;}

  &.multiple {
    margin-right:16px;
  }

  &.span {
    margin-right:6px;
  }
}

.indent {
  margin-left: 48px;
  @media(min-width: 1300px) {margin-left: 53px;}
  @media(min-width: 1525px) {margin-left: 55px;}
  @media(min-width: 1648px) {margin-left: 56px;}
  @media(min-width: 1725px) {margin-left: 57px;}
  @media(min-width: 1855px) {margin-left: 58px;}
  @media(min-width: 2100px) {margin-left: 60px;}
  @media(min-width: 2300px) {margin-left: 65px;}
  @media(min-width: 2472px) {margin-left: 80px;}
  @media(min-width: 3000px) {margin-left: 85px;}
  @media(min-width: 3500px) {margin-left: 110px;}
  @media(min-width: 4000px) {margin-left: 100px;}
  @media(min-width: 4500px) {margin-left: 175px;}
}

#media-container {
  margin-left :17%;
  padding-right: 10%;
  padding-top: 5%;
  @media (max-width: 991px) { padding-top: 8%; }
  height: 100%;
  max-width: 80%;
}
