/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

 // Fonts

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(font-path('glyphicons-halflings-regular.eot'));
  src: url(font-path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
       url(font-path('glyphicons-halflings-regular.woff')) format('woff'),
       url(font-path('glyphicons-halflings-regular.ttf')) format('truetype'),
       url(font-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

@font-face {
  font-family: 'Cardo-Light';
  src: url(font-path('Copperplate_Light_SSi_Light.ttf'));
}

@font-face {
  font-family: 'Cardo-Regular';
  src: url(font-path('Cardo-Regular.ttf'));
 }

@font-face {
  font-family: 'Cardo-Bold';
  src: url(font-path('Cardo-Bold.ttf'));
 }

@font-face {
  font-family: 'Cardo-Italic';
  src: url(font-path('Cardo-Italic.ttf'));
 }

 @font-face {
  font-family: 'Copperplate';
  src: url(font-path('Copperplate.dfont'));
 }
