$font-family-base: Cardo;

@import "bootstrap/scss/bootstrap";

// Fonts

@font-face {
  font-family: 'Cardo';
  src: url('Cardo-Regular.ttf');
}

@font-face {
  font-family: 'Cardo';
  src: url('Cardo-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Cardo';
  src: url('Cardo-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Copperplate';
  src: url('Copperplate.dfont');
}

@font-face {
  font-family: 'Copperplate';
  src: url('Copperplate_Light_SSi_Light.ttf');
  font-weight: lighter;
}

html {
  font-size: 14px;
}

h1,
h2 {
  margin-top: 20px;
}

h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.logo {
  font-family: Copperplate;
  font-weight: lighter;

  @media(min-width: 768px) { font-size: 110%; letter-spacing: 5px; }
  @media(min-width: 815px) { font-size: 125%; letter-spacing: 5px; }
  @media(min-width: 1300px) { font-size: 138%; letter-spacing: 5px; }
  @media(min-width: 1421px) { font-size: 140%; letter-spacing: 5px; }
  @media(min-width: 1525px) { font-size: 160%; letter-spacing: 5px; }
  @media(min-width: 1648px) { font-size: 170%; letter-spacing: 6px; }
  @media(min-width: 1725px) { font-size: 170%; letter-spacing: 6px; }
  @media(min-width: 1855px) { font-size: 185%; letter-spacing: 6px; }
  @media(min-width: 1920px) { font-size: 190%; letter-spacing: 7px; }
  @media(min-width: 2100px) { font-size: 200%; letter-spacing: 7px; }
  @media(min-width: 2300px) { font-size: 230%; letter-spacing: 8px; }
  @media(min-width: 2472px) { font-size: 250%; letter-spacing: 10px; }
  @media(min-width: 3000px) { font-size: 310%; letter-spacing: 12px; }
  @media(min-width: 3500px) { font-size: 380%; letter-spacing: 15px; }
  @media(min-width: 4000px) { font-size: 410%; letter-spacing: 17px; }
  @media(min-width: 4500px) { font-size: 500%; letter-spacing: 20px; }

  a {
    color: #000;
    text-decoration: none;
  }
}

#sidebar {
  height: 100vh;
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
  position: fixed;
  z-index: 10;
  border-right: 1px solid #c9c9c9;
  background: #fff;
  text-align: right;

  @media (max-width: 768px) {
    padding-right: 2px;
    padding-left: 0;
  }

  footer {
    margin-bottom: 10px;
  }
}

.navigation {
  text-transform: uppercase;

  *:first-letter {
    font-size: 101%;
  }

  &, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: 480px) { top: 0% }
  }

  li {
    font-size: 65%;
    font-weight: bold;
    line-height: inherit;
    letter-spacing: 0px;
    margin-bottom: 8px;

    @media (min-width: 480px) {
      letter-spacing: 1px;
      margin-bottom: 0;
    }
    @media(min-width: 815px) {
      line-height: 30px;
    }
    @media(min-width: 1000px) {
      font-size: 67%;
    }
    @media(min-width: 1279px) {
      font-size: 67%;
    }
    @media(min-width: 1300px) {
      font-size: 70%;
      line-height: 31px;
      letter-spacing: 1px;
    }
    @media(min-width: 1400px) {
      font-size: 77%;
      line-height: 34px;
    }
    @media(min-width: 1421px) {
      font-size: 78%;
      line-height: 35px;
      letter-spacing: 1px;
    }
    @media(min-width: 1525px) {
      font-size: 81%;
      letter-spacing: 1px;
    }
    @media(min-width: 1600px) {
      font-size: 84%;
      line-height: 36px;
    }
    @media(min-width: 1648px) {
      font-size: 87%;
      line-height: 38px;
      letter-spacing: 1px;
    }
    @media(min-width: 1705px) {
      font-size: 90%;
      line-height: 40px;
    }
    @media(min-width: 1800px) {
      font-size: 91%;
      line-height: 41px;
    }
    @media(min-width: 1855px) {
      font-size: 95%;
      line-height: 44px;
    }
    @media(min-width: 1920px) {
      font-size: 100%;
      line-height: 47px;
      letter-spacing: 2px;
    }
    @media(min-width: 2100px) {
      font-size: 103%;
      line-height: 50px;
    }
    @media(min-width: 2200px) {
      font-size: 150%;
      line-height: 53px;
    }
    @media(min-width: 2300px) {
      font-size: 107%;
      line-height: 56px;
    }
    @media(min-width: 2472px) {
      font-size: 140%;
      line-height: 60px;
    }
    @media(min-width: 3000px) {
      font-size: 170%;
      line-height: 75px;
    }
    @media(min-width: 3500px) {
      font-size: 205%;
      letter-spacing: 3px;
      line-height: 90px;
    }
    @media(min-width: 4000px) {
      font-size: 225%;
      line-height: 105px;
    }
    @media(min-width: 4500px) {
      font-size: 265%;
      line-height: 120px;
      letter-spacing: 4px;
    }

    a {
      color: #000;

      &:hover {
        color: #999;
        background: rgba(255,255,255,0.2);
      }

      &, &:hover, &:active, &:focus {
        text-decoration: none;
      }

      &.active {
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: none;

      li {
        font-size: 100%;

        a {
          &:before {
            content: "\2013\a0"; // ndash;
          }
        }
      }
    }
  }
}

.copyright {
  font-size: 85%;
}

#main-footer {
  border-top: 1px solid #c9c9c9;
  background: #fff;
  font-family: Copperplate;

  .social {
    margin-right: 5px;
  }
}

.content-header {
  height: 65px;
  line-height: 65px;

  h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
  }
}

@media (max-width:767px) {
  #sidebar {
    left: 0;
  }
}

.social {
  img {
    width: 24px;
    height: 21px;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}

.container-constrained {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 7%;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
  @media (max-width: 767px) {
    min-height: calc(100vh - 20px);
  }
}

@import "contact";
@import "criticisms";
@import "front";
@import "galleries";
@import "pages";
