#front-page {
  #sidebar {
    padding-top: 5%;
  }

  #main-content {
    overflow: hidden;

    img {
      padding-top: 20px;
      padding-right: 20px;

      width: 100%;
      overflow: hidden;
    }
  }
}
