// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//Sidebar styling
.sidebar-break{
	
@media(min-width: 815px) { display: none; }
}

//Boxes indicating artist statment at end of gallery
.statement-box{
border:1px solid;
border-color:#666666;
height:165px;
width:100%;
top:20px;
text-align:center;
}

.circ-statement-box{
border:1px solid;
border-color:#666666;
height:105px;
top:20px;
text-align:center;
}

.bot-statement-box{
border:1px solid;
border-color:#666666;
height:165px;
width:100%;
top:20px;
text-align:center;
@media (max-width: 530px) { height:125px; }
}


.about-statement-box{
border:1px solid;
border-color:#666666;
height:165px;
@media (max-width: 1040px) { height:155px; }
@media (max-width: 1000px) { height:150px; }
@media (max-width: 940px) { height:135px; }
@media (max-width: 764px) { height:200px; }
@media (max-width: 715px) { height:185px; }
@media (max-width: 700px) {height:175px; }
@media (max-width: 650px) { height:150px; }
@media (max-width: 580px) { height:150px; }
@media (max-width: 530px) { height:125px; }
width:100%;
top:20px;
text-align:center;
}

.about-statement-text{
	font-size: 200%;
	margin-top:15%;
	margin:auto;

	@media (max-width: 764px) { font-size:160%; }
	@media (max-width: 715px) { font-size: 130%; }
	@media (max-width: 700px) { font-size: 130%; }
	@media (max-width: 650px) { font-size: 140%; }
	@media (max-width: 580px) { font-size:150%; }
	@media (max-width: 530px) { font-size: 160%; }
	@media (max-width: 780px) { margin-bottom: 10%; }
    padding-top: 30%;
    padding-bottom: 10%;
}

.sp-statement-box{
border:1px solid;
height:85px;
width:100%;
text-align:center;
}

.statement-text{
	font-size: 250%;
	margin-top:15%;
	margin:auto;
	@media (max-width: 780px) { margin-bottom: 10%; }
    padding-top: 30%;
    padding-bottom: 10%;
}

.circ-statement-text{
	font-size: 250%;
	margin-top:15%;
	margin:auto;
	@media (max-width: 780px) { margin-bottom: 10%; }
	padding-top:7%;
}

.bot-statement-text{
	font-size: 250%;
	margin-top:15%;
	margin:auto;
	@media (max-width: 780px) { margin-bottom: 10%; }
    padding-top: 30%;
    padding-bottom: 10%;
    @media (max-width: 530px) { font-size: 150%; }
}


#sp-statement{
	font-size: 250%;
	font-family: Cardo-Italic;
	color: #666666;
	padding-top:5%;
	margin:auto;
	@media (max-width: 780px) { margin-bottom: 10%; }
}

//Nav arrows on detail pages
#right-arrow{
   display:table-cell;
    vertical-align:middle;
    float:none;
}

#left-arrow{
   display:table-cell;
    vertical-align:middle;
    float:none;
}

.arrow-row{
	color: #666666;
	left: 15%;
	position:fixed;
	background: #FFFFFF;
	z-index: 9;
	height:13%;
	width:100%;
	bottom: 12%;
	@media (max-width: 979px) { bottom:12%; }
	@media (min-width: 768px) {bottom:12%;}
	@media(max-width:767px){bottom: 0;
							left:18%;}
	@media (min-width: 1200px) { bottom:15%;}
}

.nav-clock-hand {
	width: 45%; 
	@media (max-width: 625px) { width: 500%; }
	@media (min-width: 1001px ) {width: 40%;}
}

.pc-nav-clock-hand {
	width: 45%; 
	@media (max-width: 625px) { width: 500%; }
	@media (min-width: 1001px ) {width: 40%;}
}


.ap-nav-clock-hand {
	width: 45%; 
	@media (max-width: 625px) { width: 500%; }
	@media (min-width: 1001px ) {width: 40%;}
}
.sp-nav-clock-hand {
	width: 45%; 
	@media (max-width: 625px) { width: 500%; }
	@media (min-width: 1001px ) {width: 40%;}
}

.milan-nav-clock-hand {
	width: 45%; 
	@media (max-width: 625px) { width: 500%; }
	@media (min-width: 1001px ) {width: 40%;}
}

.left-watch {
  width: 30%;
   @media (max-width: 480px) { width:800% }
}

.right-watch{
  width: 30%;
   @media (max-width: 480px) { width:800% }
}

//general gallery stuff

.link{
	font-family: Cardo-Italic;
	color: #666666;
	text-decoration:underline
}

.link:hover{
	color: black;
}

#gallery-page-container {
	text-align: center;
	margin-bottom: 1%;
	margin-left: 15%;
	@media( max-width: 774px) {	margin-left:5%; }
	width: 75%;
	font-size: 100%;
	}


#gallery-page-row {
	margin-left: 5%;
	padding-top: 5%;
	color: #999999;
	font-family: Cardo-Italic;
}

.gallery-div{
	margin-bottom: 5%;
}

#gallery-row{
	font-family: Cardo-Italic;
	color: #666666;
  	font-size: 80%;  
  	text-align: center;
	margin-top: 2%;
	margin-left: 0%;
	@media( max-width: 774px) {	margin-left:15%; }
	@media (max-width: 780px) { margin-bottom: 10%; }
}

#hands-gallery-row{
	font-family: Cardo-Italic;
	color: #666666;
  	font-size: 80%;  
  	text-align: center;
	margin-top: 2%;
	margin-left: 0%;
	@media( max-width: 774px) {	margin-left:15%; }
	@media (max-width: 780px) { margin-bottom: 10%; }
	@media (max-width: 780px) { height: 250px; }

}

#about-gallery-row{
	font-family: Cardo-Italic;
	color: #666666;
  	font-size: 80%;  
  	text-align: center;
	margin-top: 2%;
	margin-left: 0%;
	@media (max-width: 780px) { margin-bottom: 10%; }
}

#xs-gallery-row{
	font-family: Cardo-Italic;
	color: black;
  	font-size: 80%;  
  	text-align: center;
	margin-top: 2%;
	margin-left: 0%;
	@media( max-width: 774px) {	margin-left:15%; }
	@media (max-width: 780px) { margin-bottom: 10%; }
}

#gallery-row-picture{
	font-family: Cardo-Italic;
	color: #666666;
  	font-size: 80%;  
  	text-align: center;
	margin-top: 2%;
	@media (max-width: 780px) { margin-bottom: 10%; }
}


.sp-detail-9{
	font-family: Cardo-Italic;
	color: #666666;
	@media (max-width: 780px) { margin-bottom: 10%; }
	
}

// up and down nav arrows in galleries

.gallery-pull-right{
	width: 6%;
	height: 100%;
}

.gallery-up{
	margin-left: 1%;
	position: fixed;
	margin-top: 5%;
	width: 5%;

}

.gallery-down{
	position: fixed;
	margin-left: 1%;
	bottom: 23%;
	width: 5%;
}


// Plastic Camera front page specific stuff

#plastic-camera-page-container {
  margin-left :20%;
  margin-right: 5%;
  padding-top: 5%;
  height: 100%;
  max-width: 100%;
@media (max-width: 480px) { margin-left: 30%; }
}

#about-row {
  color: #666666;
  font-size: 80%;  
  text-align: center;
}

#xs-about-row {
  color: black;
  font-size: 80%;  
  text-align: center;
}



// Detail pages

.detail-text{
  text-align: center;
}

.detail-row {
padding-top: 3%;
margin-left: 30%;
 @media (max-width: 480px) { margin-left: 40%; }
}

.detail-row-layered {
padding-top: 3%;
margin-left: 20%;
 @media (max-width: 480px) { margin-left: 20%; }
 font-size: 65%;
 text-align: center;
}

.detail-row-layered-2 {
 @media (max-width: 480px) { margin-left: 20%; }
 font-size: 65%;
 text-align: center;
}

.detail-row-ap {
 margin-left: 5%;
 @media (max-width: 480px) { margin-left: 20%; }
 font-size: 65%;
 text-align: center;
 padding-top: 0%;	
}

.detail-row-bouyancy {
 margin-left: 30%;
 @media (max-width: 480px) { margin-left: 20%; }
 font-size: 65%;
 text-align: center;	
 padding-top:1%;

}



#detail-text {
	font-size: 75%;
	height: 25%;
}

#detail1 {
	padding-top: 4%;
	@media (max-width: 480px) { margin-right: 10%; }
}

#detail2{
	padding-top:2%;	

}

#detail3{
	padding-top:14%;
}

#detail4{
}

#detail5{
	padding-top:8%;
}

.detail-image{
	font-family: Cardo-Italic;
	color: #666666;
	//@media (max-width: 780px) { margin-bottom: 10%; }
}

//ap details
//@media width 770x details pop from single to two columns
//~@media width 1060 it pops to med column structure




#ap1{
	margin-left: 25%;
	@media (min-width: 770px) { margin-left: 15%; }
	@media (min-width: 860px) { margin-left: 17%; }
	@media (min-width: 900px) { margin-left: 20%; }
	@media (min-width: 950px) { margin-left: 22%; }
	@media (min-width: 1060px) { margin-left: 15%; }
	@media (min-width: 1100px) { margin-left: 25%; }
	@media (min-width: 1150px) { margin-left: 27%; }
	@media (min-width: 1200px) { margin-left: 30%; }
	@media (max-width: 10000px) { padding-top: 8px; }
	}

#ap2{
	margin-left: 21%;
	@media (min-width: 770px) { margin-left: 20%; }
	@media (min-width: 860px) { margin-left: 23%; }
	@media (min-width: 900px) { margin-left: 25%; }
	@media (min-width: 950px) { margin-left: 29%; }
	@media (min-width: 1060px) { margin-left: 20%; }
	@media (min-width: 1100px) { margin-left: 25%; }
	@media (min-width: 1150px) { margin-left: 27%; }
	@media (min-width: 1200px) { margin-left: 33%; }
	@media (max-width: 10000px) { padding-top: 8px; }
	}


#ap3{
	margin-left: 20%;
	@media (min-width: 770px) { margin-left: 23%; }
	@media (min-width: 860px) { margin-left: 27%; }
	@media (min-width: 900px) { margin-left: 29%; }
	@media (min-width: 950px) { margin-left: 32%; }
	@media (min-width: 1060px) { margin-left: 27%; }
	@media (min-width: 1100px) { margin-left: 32%; }
	@media (min-width: 1150px) { margin-left: 35%; }
	@media (min-width: 1200px) { margin-left: 38%; }
	@media (max-width: 10000px) { padding-top: 8px; }
}

#ap4{
	@media (min-width: 1150px) { margin-left: 5%; }
	@media (min-width: 1200px) { margin-left: 8%; }
}

#ap5{
	margin-left: 13%;
	@media (min-width: 769px) { margin-left: 0%; }
	@media (min-width: 860px) { margin-left: 0%; }
	@media (min-width: 900px) { margin-left: 0%; }
	@media (min-width: 950px) { margin-left: 0%; }
	@media (min-width: 1060px) { margin-left: 0%; }
	@media (min-width: 1100px) { margin-left: 8%; }
	@media (min-width: 1150px) { margin-left: 10%; }
	@media (min-width: 1200px) { margin-left: 17%; }
	@media (max-width: 10000px) { padding-top: 8px; }
}

#ap6{
	margin-left: 10%;
	@media (min-width: 769px) { margin-left: 0%; }
	@media (min-width: 860px) { margin-left: 0%; }
	@media (min-width: 900px) { margin-left: 0%; }
	@media (min-width: 950px) { margin-left: 7%; }
	@media (min-width: 1060px) { margin-left: 11%; }
	@media (min-width: 1100px) { margin-left: 14%; }
	@media (min-width: 1150px) { margin-left: 17%; }
	@media (min-width: 1200px) { margin-left: 20%; }
	@media (max-width: 10000px) { padding-top: 8px; }
}

#ap7{
	margin-left: 15%;
 	@media (min-width: 769px) { margin-left: 10%; }
	@media (min-width: 860px) { margin-left: 10%; }
	@media (min-width: 900px) { margin-left: 10%; }
	@media (min-width: 950px) { margin-left: 13%; }
	@media (min-width: 1000px) { margin-left: 15%; }
	@media (min-width: 1060px) { margin-left: 25%; }
	@media (min-width: 1100px) { margin-left: 25%; }
	@media (min-width: 1150px) { margin-left: 30%; }
	@media (min-width: 1200px) { margin-left: 32%; }
	@media (max-width: 10000px) { padding-top: 8px; }
}

#ap8{
	margin-left: 15%;
 	@media (min-width: 769px) { margin-left: 15%; }
	@media (min-width: 860px) { margin-left: 25%; }
	@media (min-width: 900px) { margin-left: 25%; }
	@media (min-width: 950px) { margin-left: 25%; }
	@media (min-width: 1000px) { margin-left: 20%; }
	@media (min-width: 1060px) { margin-left: 25%; }
	@media (min-width: 1100px) { margin-left: 25%; }
	@media (min-width: 1150px) { margin-left: 30%; }
	@media (min-width: 1200px) { margin-left: 32%; }
	@media (max-width: 10000px) { padding-top: 8px; }
}

#ap9{
	margin-left: 25%;
	@media (min-width: 769px) { margin-left: 15%; }
	@media (min-width: 860px) { margin-left: 25%; }
	@media (min-width: 900px) { margin-left: 25%; }
	@media (min-width: 950px) { margin-left: 25%; }
	@media (min-width: 1000px) { margin-left: 21%; }
	@media (min-width: 1060px) { margin-left: 22%; }
	@media (min-width: 1100px) { margin-left: 23%; }
	@media (min-width: 1150px) { margin-left: 30%; }
	@media (min-width: 1200px) { margin-left: 32%; }
	@media (max-width: 10000px) { padding-top: 8px; }
	}

#ap10{
	margin-left: 25%;
	@media (min-width: 769px) { margin-left: 15%; }
	@media (min-width: 860px) { margin-left: 20%; }
	@media (min-width: 900px) { margin-left: 25%; }
	@media (min-width: 950px) { margin-left: 27%; }
	@media (min-width: 1000px) { margin-left: 29%; }
	@media (min-width: 1060px) { margin-left: 33%; }
	@media (min-width: 1100px) { margin-left: 37%; }
	@media (min-width: 1150px) { margin-left: 39%; }
	@media (min-width: 1200px) { margin-left: 42%; }
	@media (max-width: 10000px) { padding-top: 8px; }
	}

#ap11{
	margin-left: 20%;
	@media (min-width: 769px) { margin-left: 15%; }
	@media (min-width: 860px) { margin-left: 20%; }
	@media (min-width: 900px) { margin-left: 25%; }
	@media (min-width: 950px) { margin-left: 29%; }
	@media (min-width: 1000px) { margin-left: 29%; }
	@media (min-width: 1060px) { margin-left: 33%; }
	@media (min-width: 1100px) { margin-left: 37%; }
	@media (min-width: 1150px) { margin-left: 39%; }
	@media (min-width: 1200px) { margin-left: 42%; }
	@media (max-width: 10000px) { padding-top: 8px; }
	}

#ap12{
	@media (min-width: 769px) { margin-left: 15%; }
	@media (min-width: 860px) { margin-left: 20%; }
	@media (min-width: 900px) { margin-left: 25%; }
	@media (min-width: 950px) { margin-left: 29%; }
	@media (min-width: 1000px) { margin-left: 29%; }
	@media (min-width: 1060px) { margin-left: 33%; }
	@media (min-width: 1100px) { margin-left: 37%; }
	@media (min-width: 1150px) { margin-left: 39%; }
	@media (min-width: 1200px) { margin-left: 42%; }
	@media (max-width: 10000px) { padding-top: 8px; }
}

//bouyancy gallery	

#bouyancy4{
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 4%; }
	}	

#bouyancy6{
	margin-left: 5%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 4%; }
	}	

#bouyancy8{
	margin-left: 20%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}	


//bodies gallery
#bodies{
	padding-top: 4%;
}

#bodies1{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 4%; }
}

#bodies6{
	margin-left: 25%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 4%; }
}

#bodies7{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 4%; }
}

#bodies8{
	margin-left: 15%;
	padding-top: 6%;
}

#bodies9{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 850px) { padding-top: 5%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

#flare-detail{
	padding-top:4%;
	width: 42%;
}


//self portraits

#sp1{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

#sp2{
	margin-left: 15%;
	padding-top: 8%;
}

#sp3{
	margin-left: 25%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
}

#sp10{
	margin-left: 33%;
	padding-top: 8%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }	
}

#sp17{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

#sp20{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1100px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

//plastic camera
	.title {
		text-align: center;
		margin-top: 6%;
		margin-left: 15%;
		font-family: Cardo-Regular;
		font-size: 130%;
		color: #666666;
		letter-spacing: 3px;
	}

	#diana1{
	margin-left: 30%;
	text-align: center;
	padding-top: 1%;
	@media (max-width: 1100px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
	}

	#pillowBook2{
	margin-left: 30%;
	text-align: center;
	padding-top: 1%;
	@media (max-width: 1100px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
	}

//watches
#watches1{
	padding-top: 7%;
	margin-left: 25%;
}

#watches3{
	padding-top: 7%;
	margin-right: 15%;
}

#watch-image{
	margin-bottom: 65%;
	padding-bottom: 50%;
}

#watches31{
	margin-left: 35%;
	text-align: center;
	padding-top: 1%;
	@media (max-width: 1200px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
	}


//layered
#layered1{
	padding-top: 7%;
	margin-left: 20%;
}

#layered2{
	margin-left: 25%;
	padding-top: 1%;
	@media (max-width: 1100px) { padding-top: 8%; }
}

#layered4{
padding-top: 1%;
	margin-left: 20%;
}

//group
#group1{
	padding-top:5%;
	margin-left: 20%;
}

//bouyancy


#bouyancy1{
margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 5%; }
}

#bouyancy4{
	margin-left: 15%;
	padding-bottom: 10%;
}

#bouyancy3{
	margin-left: 5%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 6%; }
}

#bouyancy2{
	margin-left: 33%;
	padding-top: 1%;
	@media (max-width: 1025px) { padding-top: 8%; }	
}

#bouyancy6{
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

//botanicals

#botanicals-container{
  margin-left :17%;
  padding-right: 10%;
  padding-top: 8%;
  @media (max-width: 991px) { padding-top: 8%; }
  height: 100%;
  max-width: 80%;
}
#botanicals1{
	margin-left:-3%;
	padding-top: 6%;
}

//milan

#milan8{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1100px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

#milan10{
	margin-left: 25%;
	text-align: center;
	padding-top: 1%;
	@media (max-width: 1100px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
	}

#milan-detail-text {
	font-size: 95%;
	height: 45%;
}

//Layered

#layered1{
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

#layered4{
	margin-left: 25%;
	padding-top: 8%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
}

#layered11{
	margin-left: 30%;
	padding-top: 8%;
	padding-top: 1%;
	@media (max-width: 1150px) { padding-top: 8%; }
}

//Group

#group1{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1200px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}
#group3{
	margin-left: 15%;
	padding-top: 1%;
	@media (max-width: 1050px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
}

//Botanical Book

#botanical-book11{
	margin-left: 33%;
	padding-top: 1%;
	@media (max-width: 950px) { padding-top: 8%; }	
}

#botanicals1{
	margin-left: 30%;
	text-align: center;
	padding-top: 1%;
	@media (max-width: 1100px) { padding-top: 8%; }
	@media (min-width: 1200px) { bottom:15%;}	
	}

