#statement-text {
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  font-size: 85%;
  width: 60%;
  @media(min-width: 1300px) {font-size: 90%;}
  @media(min-width: 1525px) {font-size: 110%;}
  @media(min-width: 1648px) {font-size: 112%;}
  @media(min-width: 1725px) {font-size: 120%;}
  @media(min-width: 1855px) {font-size: 125%;}
  @media(min-width: 2100px) {font-size: 130%;}
  @media(min-width: 2300px) {font-size: 145%;}
  @media(min-width: 2472px) {font-size: 165%;}
  @media(min-width: 3000px) {font-size: 190%;}
  @media(min-width: 3500px) {font-size: 250%;}
  @media(min-width: 4000px) {font-size: 320%;}
  @media(min-width: 4500px) {font-size: 340%;}

  h2 {
    margin-bottom: 60px;
  }

  #back-watch {
    margin: 0 auto;
    width: 15%;
  }
}

//Nav arrows on detail pages
#right-arrow{
  display:table-cell;
  vertical-align:middle;
  float:none;
}

#left-arrow{
  display:table-cell;
  vertical-align:middle;
  float:none;
}

#arrow-nav {
  color: #666;
  background: #fff;
  z-index: 9;
  font-family: Cardo-Italic;
  text-align: center;
  position: fixed;
  display: flex !important;
  align-items: center;
  padding: 15px;
  bottom: 0;

  @media(min-width: 1300px) {font-size: 115%;}
  @media(min-width: 1648px) {font-size: 130%;}
  @media(min-width: 1855px) {font-size: 150%;}
  @media(min-width: 2472px) {font-size: 220%;}
  @media(min-width: 3000px) {font-size: 240%;}
  @media(min-width: 3500px) {font-size: 290%;}
  @media(min-width: 4000px) {font-size: 320%;}
  @media(min-width: 4500px) {font-size: 400%;}

  .arrow {
    img {
      width: 45%;
      margin: 0 auto;
      @media (max-width: 625px) { width: 500%; }
      @media (min-width: 1001px ) {width: 40%;}
    }
  }
}

.left-watch {
  width: 30%;
  @media (max-width: 480px) { width: 800% }
}

.right-watch {
  width: 30%;
  @media (max-width: 480px) { width: 800% }
}

.scrollable-gallery {
  margin-right: 55px;
}

.gallery-item {
  font-family: Cardo-Italic;
  color: #666;
  font-size: 80%;
  text-align: center;
  margin-top: 2%;
  margin-left: 0%;
  @media( max-width: 774px) {	margin-left:15%; }
  @media (max-width: 780px) { margin-bottom: 10%; }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

// up and down nav arrows in galleries

.gallery-pull-right{
  width: 6%;
  height: 100%;
}

.gallery-up{
  margin-left: 1%;
  position: fixed;
  margin-top: 5%;
  width: 5%;
}

.gallery-down{
  position: fixed;
  margin-left: 1%;
  bottom: 23%;
  width: 5%;
}

// Detail pages

.detail-text{
  text-align: center;
}

.detail-row {
  padding-top: 3%;
  margin-left: 30%;
  @media (max-width: 480px) { margin-left: 40%; }
}

#gallery-image-page #main-content {
  > .container-fluid {
    height: 90%;
    display: flex;
    align-items: center;
  }

  #main-image-container {
    max-height: 100%;
  }
}

#main-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-image {
  max-width: 80vw;
  max-height: 86vh;
}
