// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Wraps entire page
  #body{
        font-family: Cardo-Regular;
  }

// Footer.  Should be on top of everything else.
.copyright {
    color: white;
}

.social { 
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;
}

.footer {
  background: #3B2D2D;  
}
 
// this covers the 'yeild' section in views/appliation -- i.e. where the content is located
    #main-page{
      overflow: scroll;
      height: 80%;
      width: 80%;
      float: right;
    }


//this covers the area where "Anne Arden McDonald is written in huge letters"
    .bottom-second-footer {
    }

    .logo{
      font-size: 350%;
      float: right;
      float: bottom;
      margin-top: 3%;
      margin-bottom: 4%;
      
    }




// all of this was added for that dumb old sidebar.  I have to look into what it does and fix it

#wrapper {

    
    transition: all 0.4s ease 0s;
  
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  border-right: thin solid #C9C9C9;
  transition: all 0.4s ease 0s;
}





.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #000000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #999999;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #000000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}






.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

  
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  
  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}
