// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Wraps entire page
  #body{
        font-family: Cardo-Regular;
  }

// Footer.  Should be on top of everything else.


.footer {
  background: #3B2D2D;  
  color: #EBEBEB;
  float: bottom;
  size: 85%;
}
 
.left-border {
  padding-left: 20px;
  border-left: solid #fff;
  background: #3B2D2D;  
}

// this covers the 'yeild' section in views/appliation -- i.e. where the content is located
    #main-page{

      height: 80%;
      width: 85%;
      float: right;
    }


//this covers the area where "Anne Arden McDonald is written in huge letters"
  

    .left-footer-box{
    float: left;
    }

    .right-footer-box{
    float: right;
    background: #FFFFFF;
    width: 87%;
    font-family: Copperplate;
    }
  
    .bottom-second-footer {
    border-top: thin solid #C9C9C9;
    }

    .logo{
      font-size: 260%;
      float: right;
      margin-top: 4%;
      margin-bottom: 6%;
      padding-right: 5%;
      font-family: Copperplate;
    }




// all of this was added for that dumb old sidebar.  I have to look into what it does and fix it


#wrapper {

    
    transition: all 0.4s ease 0s;
  
}

#sidebar-wrapper {
  width: 13%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  border-right: thin solid #C9C9C9;
  transition: all 0.4s ease 0s;
}





.sidebar-nav {
  position: absolute;
  top: 8%;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-align: right;
    font-family: Cardo;
}

.sidebar-nav li a {
  color: #000000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #999999;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  font-family: Cardo-Bold;
}

.sidebar-nav > .sidebar-brand a {
  color: #000000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


// This does drop down effects on side bar 
dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}



.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

  
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  
  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}
// Index
.front-image {
  position: fixed;
  margin-top: 2%;
  margin-bottom: 50%;
  margin-right: 2%;
}

// About Page

#about-page-container {
  padding-right: 11%;
  padding-left: 6%;
  padding-top: 7%;
}

#about-row {
  color: #666666;
  font-size: 80%;
}

// Bio + Crit + Resume pagespage

#pages-text {
  float: left;
  margin-top: 3%;
  color: #666666;
}

#pages-box {
  margin-top: 2%;
  margin-bottom: 4%;
  margin-right: 6%;
  float: right;
  background: #CCCCCC;
  padding-bottom: 13%;
}

#pages-image {
  float: center;
}

// Detail pages
.detail-row {
margin-top: 10%;
margin-left: 20%;
}

// Detail Pages
  .picture-text {
  font-family: Cardo-Italic;
  color: #666666;
  }
