// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// this covered the content quadrent of the site.  
  #main-page{
      height: 80%;
      width: 90%;
      float: right;
      margin-left: 14%;
      margin-bottom: 25%;
    }

// Index
.front-image {
  position: fixed;
  margin-top: 2%;
  margin-bottom: 50%;
  margin-right: 2%;
}

// About Page

#about-page-container {
  padding-right: 11%;
  padding-left: 6%;
  padding-top: 7%;
}

#about-row {
  color: #666666;
  font-size: 80%;
}

// Bio + Crit + Resume pagespage

#pages-text {
  float: left;
  margin-top: 3%;
  color: #666666;
}

#pages-box {
  margin-top: 2%;
  margin-bottom: 4%;
  margin-right: 6%;
  float: right;
  background: #CCCCCC;
  padding-bottom: 13%;
}

#pages-image {
  float: center;
}

// Detail pages

.detail-row {
margin-top: 10%;
margin-left: 20%;
}

// Detail Pages
  .picture-text {
  font-family: Cardo-Italic;
  color: #666666;
  }
