<!DOCTYPE html>
<html>
<head>
  <title>Anne Adren McDonald</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<style>
#big-name{
	margin-bottom: 5%;
}
</style>


</head>


<body>

 <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li><a href="/newWork">NEW WORK</a></li>
          <li><a href="/selfPortrait">SELF PORTRAITS</a></li>
          <li><a href="/plasticCamera">PLASTIC CAMERA</a></li>
          <li><a href="/archive">ARCHIVE</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="http://www.anneardenmcdonald.com/noflash/jewelry.html">JEWELRY</a></li>
        </ul>
      </div>




<%= yield %>


<div id="big-name">
	<hr>
	<p>
		<h1>ANNE ARDEN MCDONALD</h1>
	</p>
</div>
<div class="nav navbar-fixed-bottom">
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<small class = "copyright pull-left">all contents © Ann Adren McDonald 2013</small>
			</div>

			<div class="col-md-4">
			</div>
			
			<div class="col-md-4">
				<small class="social pull-right">NOTHING</small>
			</div>
		</div>
		</div>
</footer>
</div>

</body>
</html>
